= form_for(@question, :url => url, :html=>{class:"form form-horizontal"}) do |f|
  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      %span.control-label CATEGORY NAME
      .controls
        = f.select :questions_category_id, @questions_categories.map{ |c| [c.category, c.id] }
  %fieldset
    .control-group
      = f.label :question, class:"control-label"
      .controls
        = f.text_field :question
    %fieldset
      .control-group
        = f.label :answer, class:"control-label"
        .controls
          = f.text_area :answer , :rows=>"4"
    .span2.offset2
      = f.submit "Save", :class => "btn btn-primary",:style=>"width:150px"


