<%= form_for(@ink_color_option, :url => url) do |f| %>
    <% if @ink_color_option.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ink_color_option.errors.count, "error") %> prohibited this ink color option from being
            saved:</h2>

          <ul>
            <% @ink_color_option.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :side %>
      <%= f.select :side, ["Front", "Back"] %>
    </div>

    <div class="field">
      <label>Option</label>
      <%= f.select :name, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"] %>
    </div>

    <div class="actions">
      <%= f.submit "Save", :class => "smallBtn" %>
    </div>
<% end %>
