<h1>Listing Ink Color Options</h1>

<table>
  <tr>
    <th> Name</th>
    <th> Side</th>
    <th></th>
    <th></th>
  </tr>

  <% @ink_color_options.each do |ink_color_option| %>
      <tr>
        <td><%= ink_color_option.name %></td>
        <td><%= ink_color_option.side %></td>
        <td><%= link_to 'Edit', edit_admins_ink_color_option_path(ink_color_option) %></td>
        <td><%= link_to 'Destroy', admins_ink_color_option_path(ink_color_option), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Ink Color Option', new_admins_ink_color_option_path %>
