.row
  .span6
    %h2 Client SpotLights
  .span5
    = link_to 'New Client spotlight', new_admins_client_spotlight_path, class:"btn btn-primary new_btn"
%table.table-striped.table.table-bordered
  %tr
    -#%th Description
    %th Order
    -#%th Type
    %th Image
    %th
  - @client_spotlights.each do |client_spotlight|
    %tr
      -#%td= raw(client_spotlight.description)
      %td= client_spotlight.name
      -#%td= client_spotlight.client_spotlight_type
      %td= image_tag client_spotlight.client_spotlight_images.first.asset.url(:thumb) if client_spotlight.client_spotlight_images.present?
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_admins_client_spotlight_path(client_spotlight)
        = link_to '<i class="icon-remove"></i>'.html_safe, admins_client_spotlight_path(client_spotlight), method: :delete, data: { confirm: 'Are you sure?' }
