<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= raw(@client_spotlight.description) %>
</p>

<p>
  <b>Name:</b>
  <%= @client_spotlight.name %>
</p>

<p>
  <b>Type:</b>
  <%= @client_spotlight.client_spotlight_type %>
</p>


<%= link_to 'Edit', edit_admins_client_spotlight_path(@client_spotlight) %> |

