<%= form_for(@banner, :url => url) do |f| %>
    <% if @banner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

          <ul>
            <% @banner.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit "Save", :class => "smallBtn" %>
    </div>
<% end %>
<script type="text/javascript">
    tinyMCE.init({
        mode:'textareas',
        theme:'advanced'
    });
</script>
