.row
  .span6
    %h2  Listing Banners
  .span5
    = link_to 'New Banner', new_admins_banner_path, class: "btn btn-primary new_btn"
%table.table-striped.table.table-bordered
  %tr
    %th Content
    %th Image
    %th
  - @banners.each do |banner|
    %tr
      %td= banner.content.html_safe
      %td= image_tag banner.image.url(:thumb)
      %td
        = link_to '<i class="icon-pencil"></i>'.html_safe, edit_admins_banner_path(banner)
        = link_to '<i class="icon-remove"></i>'.html_safe, admins_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' }