%h1 Listing Banners
%table
  %tr
    %th Content
    %th Image
    %th
    %th
  - @banners.each do |banner|
    %tr
      %td= banner.content
      %td= image_tag banner.image.url(:thumb)
      %td= link_to 'Edit', edit_admins_banner_path(banner)
      %td= link_to 'Destroy', admins_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Banner', new_admins_banner_path
