<%= form_for(@page, :url => url) do |f| %>
    <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h1><%= @page.page_name %></h1>
    <div class="field">
      <%= f.label :page_content %>
      <%= f.text_area :page_content %>
    </div>
    <div class="actions">
       <%= f.submit "Save", :class => "smallBtn" %>
     </div>
<% end %>

<script type="text/javascript">
    tinyMCE.init({
        mode: 'textareas',
        theme: 'advanced'
    });
</script>

