= form_for(@reference, :url => url, :html=>{class:"form form-horizontal"} ) do |f|
  - if @reference.errors.any?
    #error_explanation
      %h2
        = pluralize(@reference.errors.count, "error")
        prohibited this shirt option from being
        saved:
      %ul
        - @reference.errors.full_messages.each do |msg|
          %li= msg
  .field{style:"padding-left:30px"}
    = f.label :name, class:"control-label",style:"padding-right:15px"
    = f.text_field :name
    = f.submit "Save", :class => "btn btn-primary",:style=>"width:150px"