<%= form_tag "/orders/order_process" do %>
    <% unless @default_charity.blank? %>
        <%= hidden_field_tag :charity_id, @default_charity.id %>
    <% else %>
        <%= hidden_field_tag :charity_id, nil %>
    <% end %>
    <div id="errors"></div>
    <div class="dropdown_txt">
      <h1>SAVE MONEY & HELP OTHERS!!</h1>
    </div>
    <!--dropdown_txt ends-->
    <div class="drop_head">
      <div class="calculate_popup">

        <div class="calculate_popup_left">
          <p>Prices starting at:<span>$<%= number_with_precision(@price, :precision => 2)    %></span> per shirt!</p><br/>
          <div style="font-size: 12px;">Competitor prices compared at <%= @compared_price %></div>
        </div>

        <div class="calculate_popup_right">
          <div class="donation_box">
            <p style="text-align: center;"> Your Donation:</p><br/>

            <h3>$<%= number_with_precision(@donation, :precision => 2) %></h3>
          </div>
        </div>
      </div>

      <div class="drop_head_list">
        <div class="rq_option_list1">
          <div style="float: left; width: 35px; margin-top: 3px;">
            <%#= radio_button_tag :value => "1", :class => "option_id" %>
            <input type="radio" name="group1" value="<%= @default_charity.id unless @default_charity.blank? %>" class="option_id">
          </div>
          <div style="float: left; width: 370px;">
            <span style="text-align: left;">Send my donation to the charity of the week...<br/>
              <i><%= @default_charity.name unless @default_charity.blank? %></i></span></div>

          <h2></h2>

          <div style="float: left; width: 35px; margin-top: 3px;">
            <input type="radio" name="group1" value='' class="option_id1">
            <%#= radio_button_tag :value => "2", false :class => "option_id" %>
          </div>
          <div style="float: left; width: 280px;"><span>I will select another charity</span></div>

        </div>

      </div>
      <div class="go_btn_holder">
        <div class="go_btn" style="float:right;">
          <div class="go_lft"></div>
          <!--go_lft ends-->
          <div class="go_mid">
            <a class="btn_a" href="javascript:void(0);" id="go">Next Step</a>
          </div>
          <br/> <br/><br/>

          <div class="bot_link">
            <h2><a class="bot_it" href="#" id="continue">continue to browse our site</a></h2>
          </div>
          <!--go_mid ends-->

          <!--go_rit ends-->
        </div>
      </div>
    </div>

    <!--drop_head ends-->
<% end %>
<script type="text/javascript">
    $("#go").click(function () {
        if (!$(".option_id").is(':checked')) {
            window.location.href = '/charities'
        }
        else {
            $(this).closest('form').submit();
            return false;
        }
    });
</script>
<style type="text/css">
    .dropdown {
        height: 350px;
    }

    .bot_link {
        float: right;
        margin: 10px 45px 0 0;
        text-align: center;
        width: 97%;
    }

    .drop_head_list {
        float: left;
        margin: 20px 0 10px -10px;
        width: 100%;
    }
    .rq_option_list1 {
        margin: 0 auto;
        width: 74%;
    }
</style>
