:javascript
  $(document).ready(function(){
    var val = $( ".charity_id option:selected" ).val();
    var txt = $( ".charity_id option:selected" ).text();

    var email = "mailto:Enter Your Contacts Here . . .?body=I%20wanted%20to%20share%20this%20with%20you.%20Help%20Support%20"+txt+"%20%20%21%20Need%20custom%20T-shirts%20for%20your%20company%2C%20event%2C%20school%2C%20charity%2C%20race%2C%20etc.%3F%20%20This%20company%20will%20print%20your%20shirts%2C%20save%20you%20money%2C%20and%20also%20donates%20a%20minimum%20of%2025%C2%A2%20per%20shirt%20to%20charity.Check%20it%20out%20here%3A%20http://www.onebillionshirts.org/"+val+"%20About%20the%20company%3A%20OneBillionShirts.org%20is%20a%20print%20company%20dedicated%20to%20raising%20money%20and%20awareness%20for%20charities%20to%20help%20them%20do%20what%20they%20do%20best%2C%20help%20others%21&subject=Need%20Custom%20T-shirts%3F%20Help%20Us%20Fundraise%21"
    var tw = "https://twitter.com/share?text=Need custom t-shirts? Save money on your order and help us fund raise! Click here @ 1BillionShirts&url=http://onebillionshirts.org/"+val ;
    var fb = "https://www.facebook.com/sharer/sharer.php?t='Need custom t-shirts? Save money on your order and help us fund raise!'&u=http://onebillionshirts.org/"+val;
    var f_select = $("#fb_img").attr("href",fb);
    var t_select = $("#tw_img").attr("href",tw);
    var e_select = $("#email_img").attr("href",email);

    $(".charity_id").change(function () {
    var val = $( ".charity_id option:selected" ).val();
    var txt = $( ".charity_id option:selected" ).text();

    var email = "mailto:Enter Your Contacts Here . . .?body=I%20wanted%20to%20share%20this%20with%20you.%20Help%20Support%20"+txt+"%20%20%21%20Need%20custom%20T-shirts%20for%20your%20company%2C%20event%2C%20school%2C%20charity%2C%20race%2C%20etc.%3F%20%20This%20company%20will%20print%20your%20shirts%2C%20save%20you%20money%2C%20and%20also%20donates%20a%20minimum%20of%2025%C2%A2%20per%20shirt%20to%20charity.Check%20it%20out%20here%3A%20https://www.onebillionshirts.org/"+val+"%20About%20the%20company%3A%20OneBillionShirts.org%20is%20a%20print%20company%20dedicated%20to%20raising%20money%20and%20awareness%20for%20charities%20to%20help%20them%20do%20what%20they%20do%20best%2C%20help%20others%21&subject=Need%20Custom%20T-shirts%3F%20Help%20Us%20Fundraise%21"
    var tw = "https://twitter.com/share?text=Need custom t-shirts? Save money on your order and help us fund raise! Click here @ 1BillionShirts&url=http://onebillionshirts.org/"+val ;
    var fb = "https://www.facebook.com/sharer/sharer.php?t='Need custom t-shirts? Save money on your order and help us fundraise!'&u=http://onebillionshirts.org/"+val;
    var f_select = $("#fb_img").attr("href",fb);
    var t_select = $("#tw_img").attr("href",tw);
    var e_select = $("#email_img").attr("href",email);
    })
  })

.slider_hold_contact
  .slider_text
    %h1.wid_im
      Calculate Your
      %span Impact
      !
    .row{style:"margin: 20px auto 35px auto;"}
      Enter your charities’ total 'network' numbers and  calculate the amount
      %br
      of money we can raise with your influence and our concept...



%div{:style => "margin-left: auto; margin-right: auto; width: 960px;"}
  .padded{style:"width:65%;margin:0 auto"}
    %div{:style => "clear:both;margin-top :20px"}
      %div.move
        .row
          .email_img{style:"width: 15%;float:left"}
          .tring
            Send
            %span #{(@email * 10).to_i}
            emails x 10% conversion =
            %span #{@email.to_i}
            shirts
        .row
          .fb_img{style:"width: 15%;float:left"}
          .tring
            Post to Facebook page x 5% conversion =
            %span #{@fb.to_i}
            shirts
        .row
          .tw_img{style:"width: 15%;float:left"}
          .tring
            Tweet to followers x 4% conversion =
            %span #{@tw.to_i}
            shirts
        .row
          .work_img{style:"width: 15%;float:left"}
          .tring
            %span #{(@emp / 10 / 0.15).to_i}
            employess tell 10 friends each x 15% conversion =
            %span #{@emp.to_i}
            shirts

        %div{style:"font-size: 18px; width: 350px; float: right; line-height: 35px;margin-top:30px;margin-bottom: 25px;"}
          #calculate_impact_img{style:"float: left; margin-right: 25px; margin-top: 55px;"}
          %table{style:"border:none"}
            %tr
              %td{style:"width: 170px;"} Orders:
              %td #{@total_o.to_i}
            %tr
              %td Avg Order:
              %td 144 pc
            %tr
              %td Total Shirts:
              %td #{@total_s.to_i}
            %tr.order_orange
              %td{style:"border-bottom: 2px solid #000000"}
                %strong{style:"float:left"} Money Raised:
              %td{style:"border-bottom: 2px solid #000000"}
                %strong $ #{@total_m.to_i}

        %div{:style => "clear:both;margin-top :20px"}
        %p{style:"padding-bottom: 55px; border-bottom: 5px dotted #ccc; margin-bottom: 50px;"}
          Once those #{@total_s.to_i} shirts are distributed, assuming 3% of those customers

          learn about the concept and need t-shirts, that is another #{@para.to_i} shirts that are

          distributed and the snowball continues to grow and charities such as yours

          untap a brand new fundraising stream that will change the world!

        %div{:style => "width:50%; float:left;"}
          1. Select Your Charity:
        %div
          = select_tag "charity_id", options_from_collection_for_select(@charities, "slug", "name"), class:"charity_id"
        %div{:style => "width:50%; float:left;margin-top:30px"}
          2. Spread the Word:
        %div{:style => "clear:both;padding-top: 20px;padding-bottom: 110px;"}
          = mail_to "Enter Your Contacts Here . . .", "", class:"email_img", id:"email_img", style:"width:30%;margin-left:20px;float:left;", :subject => "Need Custom T-shirts? Help Us Fundraise!",
                    body:""
          %a.fb_img#fb_img{style:"width:30%;margin-left:20px;float:left;",:href => "#",  target:"_blank"}
          %a.tw_img#tw_img{style:"width:30%;margin-left:20px;float:left;", href:"", target:"_blank"}




