= stylesheet_link_tag 'gmaps4rails'
- content_for :head do
  - @title = "Contact - OneBillionShirts"
  = @title
.featured-section{style:"margin-top: 120px;height: 272px;background: url('/assets/contact_header.png') no-repeat;background-size: cover;"}
  .wrapper
    .inner_wrapper_div{style:"height: 272px;"}
      .slider_hold_contact
        .slider_text
          %h1.wid_im{style:"width: 100% !important;padding-top: 35px;"}
            We're located in the
            %span heart
            of Downtown Boston
          %p{style:"padding-top: 10px;"} Contact us today and we'll get right back to you.


.map_hold
  - @marker = '[{"lng": "-71.061131","lat": "42.357281"},{"lng": "-71.061131", "lat": "42.357281" }]'
  = gmaps({ "map_options" => { "center_latitude"  => 42.357281,       |
    "center_longitude" => -71.061131,                                  |
    "detect_location"  => false,                                      |
    "center_on_user"   => false,                                      |
    "auto_adjust"      => false,                                      |
    "auto_zoom"        => true,                                       |
    "zoom"             => 16 }, "markers" => { "data" => @marker } }) |
.my_wrapper
  .contact_hold
    .cnt_lft_rit
      .cnt_lft
        %p{style:"color: #00a651;font-weight:bold;"} OneBillionShirts.org
        %p 101 Tremont St
        %p Suite 1009
        %p Boston MA, 02108
      / cnt_lft ends
      .cnt_rit
        %p{style:"font-weight:bold;"} How to reach us ?
        %p You can either call us or throw us an email. We will get back to you quickly. Feel free to use the contact form below.
        %p.link (800) 489-2605
        %p.link info@onebillionshirts.org
      / cnt_rit ends
    / cnt_lft_rit ends
    = form_tag "/home/send_email" do
      #errors{style:"color:red; font-weight:bold"}
      .cnt_field_lft_rit
        %div{style:"margin-bottom:40px;font-weight:bold;"} Contact Form
        .cnt_field_lft
          .cnt_inputs{style:"width: 40%;"}
            %label Full Name
            = text_field_tag :name, "" ,style:"width: 210px"
          .cnt_inputs{style:"width: 52%;"}
            %label{style:"width: 195px;"} Company / Organization
            = text_field_tag :company
          .cnt_inputs
            %label Email
            = text_field_tag :email
          .cnt_inputs
            %label Phone
            = text_field_tag :phone
        .cnt_txtarea
          .cnt_inputs_n
            %label Inquiry
            = text_area_tag :inquiry

        .cnt_send_btn_add_hold
          .cnt_add
            %label Please answer: 4+4 =
            = text_field_tag :answer
          / cnt_add ends
          .send_btn_rit
            %a#send{:href => "javascript:void(0)"} Send
          / send_btn_rit ends
        / cnt_send_btn_add_hold ends
      / cnt_lft_rit ends
  / contact_hold ends
/ wrapper ends
= yield :scripts
:javascript
  $("#send").click(function () {
      var form = $(this).closest('form');
      msg = "";
      var name = $("#name");
      var email = $("#email");
      var inquiry = $("#inquiry");
      if (name.val() == "") {msg = "Please enter your name <br>"}
      if (email.val() == "") {msg += "Please enter the email address<br>"}
      if (inquiry.val() == "") {msg += "Please enter any Inquiry <br>"}
      if (msg == "")
      {
        $.post(form.attr("action"), form.serialize(), function (response) {
            if (response.success) {
                window.location.href = '/home/thank_you';

            } else {
                $("#errors").html(response.html);
            }
        }, "json");
        return false;
      }
      else{
        $("#errors").html(msg);
      }
  });

  $(".mark").hover(function () {
      $('.q_hover').show();
  }, function () {
      $('.q_hover').hide();
  });
