<%= stylesheet_link_tag 'gmaps4rails' %>
<% content_for :head do %>
  <% @title = "Contact - OneBillionShirts" %>
    <%= @title %>
<% end %>
<div class="slider_hold_contact">
  <div class="slider_text">
    <h1 class="wid_im">We're located in the <span>heart</span> of Downtown Boston</h1>

    <p>Contact us today and we'll get right back to you.</p>
  </div>
  <!--slider_text ends-->
</div>    <!--slider_hold ends-->
</div><!--wrapper ends-->

<div class="map_hold">
  <% @marker = '[{"lng": "-71.05833","lat": "42.358562"},{"lng": "-71.05833", "lat": "42.358562" }]' %>
  <%= gmaps({ "map_options" => { "center_latitude"  => 42.358562,
                                 "center_longitude" => -71.05833,
                                 "detect_location"  => false,
                                 "center_on_user"   => false,
                                 "auto_adjust"      => false,
                                 "auto_zoom"        => true,
                                 "zoom"             => 16 }, "markers" => { "data" => @marker } })
  %>
</div>
<div class="wrapper">
  <div class="contact_hold">
    <div class="cnt_lft_rit">
      <div class="cnt_lft">
        <p>OneBillionShirts.org</p>

        <p>One Boston PI</p>

        <p>26th Floor</p>

        <p>Boston MA, 02108</p>
      </div>
      <!--cnt_lft ends-->
      <div class="cnt_rit">
        <p>(617) 276-2295</p>

        <p>info@onebillionshirts.org</p>
      </div>
      <!--cnt_rit ends-->
    </div>
    <!--cnt_lft_rit ends-->
    <%= form_tag "/home/send_email" do %>
        <div id="errors"></div>
        <div class="cnt_field_lft_rit">
          <div class="cnt_field_lft">
            <div class="cnt_inputs">
              <label>Name:</label>
              <%= text_field_tag :name %>
            </div>
            <!--cnt_inputs-->
            <div class="cnt_inputs">
              <label>Email:</label>
              <%= text_field_tag :email %>
            </div>
            <!--cnt_inputs-->
          </div>
          <!--cnt_field_lft ends-->
          <div class="cnt_field_rit">
            <div class="cnt_inputs">
              <label>Company / Organization:</label>
              <%= text_field_tag :company %>
            </div>
            <!--cnt_inputs-->
            <div class="cnt_inputs">
              <label>Phone:</label>
              <%= text_field_tag :phone %>
            </div>
            <!--cnt_inputs-->
          </div>
          <!--cnt_field_rit ends-->
          <div class="cnt_txtarea">
            <div class="cnt_inputs_n">
              <label>Inquiry:</label>
              <%= text_area_tag :inquiry %>
            </div>
            <!--cnt_inputs_n-->
          </div>
          <!--cnt_txtarea ends-->
          <div class="cnt_send_btn_add_hold">
            <div class="cnt_add">
              <label>4+4 =</label>
              <%= text_field_tag :answer %>
            </div>
            <!--cnt_add ends-->
            <div class="send_btn_rit">
              <a href="javascript:void(0)" id="send">Send</a>

            </div>
            <!--send_btn_rit ends-->
          </div>
          <!--cnt_send_btn_add_hold ends-->
        </div>
        <!--cnt_lft_rit ends-->
    <% end %>
  </div>
  <!--contact_hold ends-->
</div><!--wrapper ends-->
<%= yield :scripts %>


<script type='text/javascript'>


    $("#send").click(function () {
        var form = $(this).closest('form');
        $.post(form.attr("action"), form.serialize(), function (response) {
            if (response.success) {
                window.location.href = '/home/thank_you';
            } else {
                $("#errors").html(response.html);
            }
        }, "json");
        return false;
    });

    $(".mark").hover(function () {
        $('.q_hover').show();
    }, function () {
        $('.q_hover').hide();
    });
</script>
