:css
  .my_selected_btn {
    text-align: center;
    width: 400px;
    color: white;
    margin: 0 auto;
    font-family: ProximaNova-SemiboldItalic !important;
  }
  .active_btn {
    color: black;
  }

  .section{
    font-size: 15px;
    padding-top: 8px;
    float: left;
    margin-left: 80px;
    border-bottom: 1px dotted white;
  }

  a.vote{
    background-color: #009345;
    width: 45px;
    border-radius: 30px;
    height: 45px;
    line-height: 53px;
    border: 1px solid #c6bebb;
    position: absolute;
    top: 33%;
    left: 32%;
  }

  .featured-section h1{
    padding-top: 50px;
    clear: both;
    font-family: GothamRnd-Book !important;
    font-size: 48px;
    margin: 30px auto;
    text-align: center;
    color: white;
    border-bottom: 2px solid grey;
    font-weight: 400;
  }

  .featured-section h5{
     color: white;
     width: 400px;
     margin: 0 auto;
     font-size: 22px;
     font-family: ProximaNova-Regular !important;
     text-align: center;
     font-weight: 400;
  }

  .featured-section{
    height: 282px;
    background: url("/assets/Client Showcase.jpg") no-repeat;
    margin-top: 118px;
    background-size: cover;
  }

  .charity_holder{
    margin-top: 20px;
  }

  .img3{
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
  }

  .bg{
    background: #eeeeee;
    height: auto;
    padding-bottom: 10px;
    overflow: auto;
  }

  .pagination{
    float: right;
  }

  .apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
  }

  .apple_pagination .disabled {
    color: #aaaaaa;
  }

  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

  .apple_pagination a {
  text-decoration: none;
  color: black;
  }

  .apple_pagination a, .apple_pagination span , .apple_pagination em {
    padding: 0.2em 0.3em;
    display: inline;
  }

  .leaderboard_btn{
    float: right;
    border: 1px solid lightgray;
    padding: 18px;
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;
    width: 180px;
    position: relative;
  }
  .leaderboard_btn > img{
    position: absolute;
    top: 20px;
    right: 22px;
  }

:javascript
  $(document).ready(function(){
    $(".image_entity").hover(function(event){
       $( event.target ).siblings("a").css("display","block");
       $(this).css("opacity","0.3");
       },function(event){
       $( event.target ).siblings("a").css("display","none");
       $(this).css("opacity","1");
     });

    $(".vote").hover(function(event){
       $( event.target ).siblings(".image_entity").css("opacity","0.3");
       $(this).css("background-color","#009345");
       $(this).css("display","block");
       },function(event){
       $( event.target ).siblings(".image_entity").css("opacity","1");
       $(this).css("background-color","#009345");
       $(this).css("display","none");
     });

    $(".plus_btn").click(function(){
      id = $(this).data("popid");
      console.log(id);
      $("#style_picker-"+id).bPopup({
        onClose: function () {
           $(".image_entity").siblings("a").css("display","none");
           $(".image_entity").css("opacity","1");
         }
         });

      arr = []
      arr = #{raw(@customers.map{|c| c.id})};
      console.log( arr ) ;
      for(var i=0; i< arr.length; i++) {
       var hi  = $("#style_picker-"+arr[i]).height();
       var val =  $("#download-"+arr[i]).attr("href").replace("800",hi);
       $("#download-"+arr[i]).attr("href",val);
      };

      return false;
    });
  });

.featured-section
  %h1{style:"width: 610px;"} Our Customers Care !
  %h5{style:"width: 550px;"} View some of our customers that choose the smarter way to print their custom apparel ...
  .progress_bar

.bg
  .wrapper
    .my_heading
      %hr.style-left{style:"width:250px"}
      %h3{style:"margin-left: 100px;"} Client Showcase
      %hr.style-right{style:"width:250px"}
    .charity_holder
      .main_content
        #design
          -@customers.each_slice(3) do |slice|
            %div{style:"width: 950px; height:300px; padding-left: 48px;margin-bottom: 25px;"}
              -slice.each do |e|
                .img3
                  =image_tag e.logo.url(:medium), style:"width: 250px; height: 250px;margin-bottom: 10px;border: 2px solid rgba(213, 211, 211, 0.4); border-radius: 10px;", class:"image_entity"
                  %div{style:"color: #4c4c4c; font-style: italic; text-align: center; width: 150px; margin: 0 50px 0 50px;font-weight: bold;"}=truncate(e.text, :length => 40, :omission => '...')
                  -#%span=e.description
                  =link_to "#", class:"vote plus_btn", data: {popid: "#{e.id}"}, style:"display: none" do
                    %i.icon-plus.icon-2x{style:"color: white;margin-left: 12px;"}
      .pagination
        = will_paginate @customers , class:"apple_pagination"


-@customers.each do |e|
  %div{style:"background-color:white;width:650px;height:auto;display:none;", id:"style_picker-#{e.id}"}
    %div{style:"width:100%; height: 102px; padding-top: 5px;text-align:center; color:green;font-size: 90px;font-family: Hammer;"} Thank You!
    %div{style:"width: 103%; height:40px; text-align:center; color:white;background: #00a651;font-size: 20px;line-height: 36px;margin-left: -10px;font-weight: bolder;"} Our Customers Care!
    %div{style:"margin-left: auto; margin-right: auto; width: 80%;margin-top: 20px;"}
      =image_tag e.logo.url(:medium), style:"width:175px; height:175px;display:inline;"
      %span{style:"font-size: 24px; color: black; font-weight: bold;display: inline;float: right;margin-top: 55px;width: 275px;text-align: center;font-family: Calibri !important;color:#777777;"}=truncate(e.text, :length => 40, :omission => ' ..')
    %div{style:"margin-left: auto; margin-right: auto; width: 100%;margin-top: 26px;margin-bottom: 26px;text-align: center;font-family: ProximaNova-Regular !important;font-size: 18px;background: #707070;height: 66px;"}
      %span{style:"color: white;font-weight: bold;padding-top: 15px;"} For printing custom apparel that cares and leveraging your order for a charitable donation to ..
      -#%span=e.charity ? e.charity.name : e.charity_name
    %div{style:"margin-left: auto; margin-right: auto; width: 80%;margin-top: 20px;margin-bottom: 40px;"}
      %span{style:"float: left;font-size: 24px; color: black; font-weight: bold;margin: 35px 90px 0px 10px;width: 200px;text-align: center; font-family: Calibri !important;color:#777777;"} #{e.charity_name.present? ? truncate(e.charity_name, :length => 40, :omission => '..')  : e.charity.name}
      =image_tag e.charity_logo ? e.charity_logo.url(:medium) : (e.charity ? e.charity.logo.image.url(:medium) : "/assets/images/no_logo.jpg"), style:"width:175px; height:175px;"
    %span{style:"margin-left:10px"} www.#{root_url.to_s.gsub("http://","").gsub("/","")}
    .socialz{style:"margin-left: auto; margin-right: auto; width: 100%; float: none;background: #eaeaea;height: 40px; padding-top: 10px;"}
      %strong{style:"float: left;margin: 8px;"} SHARE CARD:
      %span.st_sharethis_large{:displaytext => "ShareThis"}
      %span.st_facebook_large{:displaytext => "Facebook"}
      %span.st_twitter_large{:st_via => ""}
      %span#linkdcount.st_linkedin_large{:displaytext => "LinkedIn"}
      %span.st_pinterest_large{:displaytext => "Pinterest"}
      %span.st_email_large{:displaytext => "Email"}
      %span{style:"float: right;line-height: 35px;margin-right: 10px;"}=link_to  "PRINT", print_thank_you_card_path(id: e.id), target:"_blank"
      %span{style:"float: right;line-height: 35px;"} ::
      %span{style:"float: right;line-height: 35px;"}=link_to  "DOWNLOAD", download_thank_you_card_path(id: e.id, height: 800), id: "download-#{e.id}"
