<% content_for :head do %>
    <% @title = "FAQ'S' - OneBillionShirts" %>
    <%= @title %>
<% end %>


<div class="calculate_hold">
  <div class="faq_text">
    <h1>Got Questions?<br/> We Have Answers...</h1>
  </div>
  <!--faq_text ends-->
  <div class="faq_info">
    <div class="faq_lft">
      <div class="faq_list">
        <ul id="accordion">
          <% @questions_categories.each do |questions_category| %>
            <li>
              <a href="#"><%= questions_category.category %></a>
              <ul class="questions" style="display:none;">
                <% questions_category.questions.each do |question| %>
                  <li class="question_title" data-title='<%=question.question%>' data-answer='<%= question.answer%>'>
                    <%= question.question %>
                  </li>
                 <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="faq_rit">
      <div class="title">
          Here goes the title
      </div>
      <div class="answer">
For every friend you successfully refer you get $5 of DSC Credits. These DSC Credits will be applied first before any charges for your monthly subscription or extras each month. To refer a friend just copy your unique referral link from your account page, share with a friend, make sure they click on your link to sign up… and Bam! $5 of DSC Credits gets added to your account.
      </div>
      <div>
        Need more info <a href="/contact" class="see_us">Contact Us</a>
      </div>
    </div>
  </div>
</div><!--wrapper ends-->

<script type="text/javascript">
  jQuery(function($) {

    first_q = $(".question_title").first()
    question = first_q.data("title")
    answer = first_q.data("answer")

    $(".faq_rit .title").text(question)
    $(".faq_rit .answer").text(answer)

    $(".question_title").click(function(){
      question = $(this).data("title")
      answer = $(this).data("answer")

      $(".faq_rit .title").text(question)
      $(".faq_rit .answer").text(answer)
    })

    $("#accordion > li > a").click(function(){
      current = $(this).parent().find("ul.questions")
      $('#accordion ul.questions').not(current).slideUp(150)
      $(this).parent().find("ul.questions").slideToggle(150);
      return false;
    });
  });
</script>
