- content_for :head do
  - @title = "OneBillionShirts.org - Custom T-shirts For Good!"
  = @title

:javascript
  var first_value = (#{Setting.get_value 'first_algorithm'});
  var second_value = (#{Setting.get_value 'second_algorithm'});
  var third_value = (#{Setting.get_value 'third_algorithm'});
  var fourth_value = (#{Setting.get_value 'fourth_algorithm'});

.upper-section
  .wrapper
    .inner_wrapper_div
      %br
      %br
      %br
      %h1
        Your 
        #rotate
          %div Race
          %div Staff
          %div Corporate
          %div Promo
          %div Team
          %div Event
          %div School
        t-shirts
      %h1.bottom_h1
        Can help others!
      -#.process-images
      .header_text
        Calculate the impact your order can have on those that need it most.
      .slider_value
        %span.slider_value_number 24 
        SHIRTS
      .slider_arrow
      %input{"data-slider" => "true", "data-slider-range" => "24,1000", "data-slider-highlight" => "true", type: "text", id: "homepage_slider"}
      .homepage_icons
        .homepage_cake.homepage_quarter
          .image_and_numbers
            %span.image_container
              = image_tag "#{Setting.get_value('first_icon').url(:thumb)}", class: "homepage_cake_image"
            %span.cake_value.blue_lines ---
          %span
            = Setting.get_value('first_text')
          %span.orange
            = Setting.get_value('first_link')
        .homepage_bottle.homepage_quarter
          .image_and_numbers
            %span.image_container
              = image_tag "#{Setting.get_value('second_icon').url(:thumb)}", class: "homepage_bottle_image"
            %span.bottle_value.blue_lines ---
          %span
            = Setting.get_value('second_text')
          %span.orange
            = Setting.get_value('second_link')
        .homepage_dish.homepage_quarter
          .image_and_numbers
            %span.image_container
              = image_tag "#{Setting.get_value('third_icon').url(:thumb)}", class: "homepage_dish_image"
            %span.dish_value.blue_lines ---
          %span
            = Setting.get_value('third_text')
          %span.orange
            = Setting.get_value('third_link')
        .homepage_cat.homepage_quarter
          .image_and_numbers
            %span.image_container
              = image_tag "#{Setting.get_value('fourth_icon').url(:thumb)}", class: "homepage_cat_image"
            %span.cat_value.blue_lines ---
          %span
            = Setting.get_value('fourth_text')
          %span.orange
            = Setting.get_value('fourth_link')

    .real_time_pricing
      = link_to "VIEW REAL TIME PRICING", "/orders/quick_quote", class: "real_time_link"
      = image_tag "real_time_pricing.png", class: "pricing_arrow"

.featured-section
  .wrapper
    .inner_wrapper_div
      .header_text
        We’re onebillionshirts.org, a print company that allows you to leverage your custom t-shirt order to raise money for charity. If you already order t-shirts, why not cut costs and help others? This simple idea can make a huge change!
  .homepage_overlay

.wrapper{style:"height: 280px;"}
  .our_idea
    .area_50
      %h4 Q. How does this work?
      %p
        A. Simple. If you are placing a custom t-shirt order, our offer is that we will save you money compared to your current vendor and donate a mandatory 25¢ per shirt to charity.

    .area_50
      %h4 Q. When does the donation get sent?
      %p
        A. Once the order is complete and the shirts are received, we then send a comapny check the the charity in your honor.  Each check is documented and mailed to customers for proof of donation.

    .area_50
      %h4 Q. Who donates the money?
      %p
        A. The donation is made through our profits. Our business model cherishes our lean.

    .area_50
      %h4 Q. How do I begin?
      %p
        A. Our process is simple.  Just click to see our real time prices, provide some information and we’ll get back to you with a proof and an all-inclusive quote.
    
.light_grey_area
  .wrapper{style:"clear:both;"}
    -#%h1{style:"text-align:center;color: grey;margin-bottom: 20px;font-size: 38px;"} Testimonials
    .final-area{style:"margin-bottom:25px;"}
      =image_tag "customers_care.png", style:"margin-left: auto; margin-right: auto;"
    .final-area{style:"float:left;margin-bottom:40px;"}
      %ul
        - @customers.in_groups_of(4, false) do |char|
          %li
            .single_charity_homepage
              -char.each do |c|
                .col
                  =image_tag c.logo.url(:medium), style:"float: right;padding-right: 45px; height: 150px;"   #/client_slight?id=#{c.id}
    .real_time_pricing
      = link_to "VIEW REAL TIME PRICING", "/orders/quick_quote", class: "real_time_link"
      = image_tag "real_time_pricing.png", class: "pricing_arrow"
      = link_to "or learn more about our company", "/about", class: "learn_more"

  / our_idea ends
/ wrapper ends
-#.wrapper{style:"clear:both;"}
-#  .bottom_contain
-#    .bottom_quote
-#      %a.quick{href: "/orders/quick_quote"}
-#        Quick Quote
-#      %p
-#        %span
-#          or
-#        %a.inline{href:"/faq"}
-#          Learn More
-#    %h4
-#      We will beat your current price
-#      & donate in your name from our profit.
-#      Now, that is a win-win!
-#    %img{src:"/assets/sketchy-arrow.png"}

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38304888-1']);
  _gaq.push(['_trackPageview']);

  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();

  $("#calculate_value1").click(function () {
      $(".selected-active").each(function () {
          $(this).children("a").html("CALCULATE");
          $(this).removeClass("selected-active");
      });
      $(this).closest(".selected_btn").addClass("selected-active");
      $(this).html("CALCULATE Selected");
      val = $('#number_of_shirts1').val();
      $.get("/home/calculated_value_popup?number_of_shirts=" + val, function (response) {
          $('#request-quote').html(response);
          $('#request-quote').bPopup({
              closeClass: 'bot_it',
              onClose: function () {
                  $(".selected_btn").removeClass("selected-active");
                  $(".select-link").html("CALCULATE");
              }
          });

      });
      return false;
  });

  $(document).ready(function () {
      min = setInterval("refresh_name()", 2000);
      $(".bxslider").bxSlider({nextText: "", prevText:"", auto: true, slideWidth: 100, moveSlides: 1, minSlides: 8, maxSlides: 8, pager: false})
      $(".bxbig").bxSlider({nextText: "", prevText:"", auto: false, slideWidth: 960, moveSlides: 1, minSlides: 1, maxSlides: 1, pager: false})
  });
  function refresh_name() {
      var myArray = ['Event', 'Promo', 'RACE', "League", "Game", "Corporate", "Volunteer", "School", "Party", "Reunion"];
      var rand = myArray[Math.floor(Math.random() * myArray.length)];
      $('#show_name').html(rand);
  }

:css
  .calc_img_div {
      float: left;
  }

  .calc_img_div img {
      margin: 21px 0 0 412px;
  }