:javascript
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'column',
              margin: [ 50, 50, 100, 80]
          },
          title: {
              text: 'Top Shared Charities'
          },
          xAxis: {
              categories: ["#{@charities[0].name if @charities[0]}",
                  "#{@charities[1].name if @charities[1]}",
                  "#{@charities[2].name if @charities[2]}",
                  "#{@charities[3].name if @charities[3]}",
                  "#{@charities[4].name if @charities[4]}",
                  "#{@charities[5].name if @charities[5]}",
                  "#{@charities[6].name if @charities[6]}",
                  "#{@charities[7].name if @charities[7]}",
                  "#{@charities[8].name if @charities[8]}",
                  "#{@charities[9].name if @charities[9]}"
              ],
              labels: {
                  rotation: -45,
                  align: 'right',
                  style: {
                      fontSize: '13px',
                      fontFamily: 'Verdana, sans-serif'
                  }
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Number Of Shares'
              }
          },
          legend: {
              enabled: false
          },
          tooltip: {
              formatter: function() {
                  return '<b>'+ this.x +'</b><br/>'+
                          'No of shares: '+ Highcharts.numberFormat(this.y, 1) +
                          ' ';
              }
          },
          series: [{
              name: 'No of shares',
              data: [16, 15, 14, 13, 12 , 11 , 10 , 9 , 8 , 7 ],
              dataLabels: {
                  enabled: true,
                  rotation: -90,
                  color: '#FFFFFF',
                  align: 'right',
                  x: 4,
                  y: 10,
                  style: {
                      fontSize: '13px',
                      fontFamily: 'Verdana, sans-serif'
                  }
              }
          }]
      });
  });
/ <script src="/assets/highcharts.js"></script>
/ <script src="javascripts/modules/exporting.js"></script>
- content_for :head do
  - @title = "Share Contest - OneBillionShirts"
  = @title
-content_for(:about_head) do
  .slider_hold{:style => "height:auto;"}
    .share_contest_containor_div{style:"font-family: museo_500regular;"}
      %h1
        Sharing is
        %span Caring
        Contest
    / slider_text ends
  / slider_hold ends
.wrapper
  .img_det_txt{style:"padding-top: 10px;padding-bottom: 25px;"}
    %p
      Our sharing is caring contest showcases the charities with the most social
      involvement from our site. The charity with the most "shares" will win $5,000
      donated directly from Onebillionshirts.org
    %p
      How it works: Simply visit your favorite charity's page within our site and share
      the link and encourage others to do the same. Track in real time who is leading
      below...
    / abt_list_im1 ends
    / img_det_txt ends
  #container{:style => "min-width: 400px; height: 500px; margin: 0 auto;"}
  .list_charity
    = render :partial => "home/view_all_charities"
  %a#top_cahrities.charity-link-all{:href => "javascript:;",style:"color: black; font-size: 15px; margin-left: 66px; margin-bottom: 20px; text-decoration: underline;"} View All
  / wrapper ends

:javascript
  $("#top_cahrities").click(function () {
          $.ajax({
              url: "home/view_all_charities" , type: 'get', dataType: 'html',
              processData: false,
              success: function (data) {
                  $('.list_charity').html(data);
              }
          });
  });
