= form_for([:admins, @style_sub_category]) do |f|
  - if @style_sub_category.errors.any?
    #error_explanation
      %h2
        = pluralize(@style_sub_category.errors.count, "error")
        prohibited this style category from being
        saved:
      %ul
        - @style_sub_category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
    = f.label :parent_category
    = f.select :style_category_id, StyleCategory.all.map{|s|[s.name, s.id]}
  .actions
    = f.submit "Save", :class => "smallBtn"
