<% content_for :head do %>
    <% @title = "Order process - OneBillionShirts" %>
    <%= @title %>
<% end %>
<%= render :partial => "/orders/progress_bar", :locals => { :count => 3 } %>
<%= form_tag "/orders/form_4" do %>
    <div id="errors"></div>
    <div class="order_form_hold">
      <div class="select_color_hold">
        <div class="order_items">
          <div class="items_head"><span>4.</span>

            <p>Select Shirt Sizes</p></div>
          <% if @size_categories.present? %>

              <div class="shirt_sizes">
                <div class="sizes_hold">
                  <div class="youth_sizes">
                    <p>&nbsp;</p>
                    <% @size_options.each do |size_option| %>
                        <div class="size_input">
                          <p><%= size_option.name %></p>
                        </div>
                    <% end %>
                  </div>
                  <% @size_categories.each do |size_category| %>
                      <div class="youth_sizes">
                        <p><%= size_category.name %></p>
                        <% @size_options.each do |size_option| %>
                            <div class="size_input">
                              <div class="size_input_lft"></div>
                              <!--size_input_lft ends-->
                              <div class="size_input_mid">
                                <%= text_field_tag "#{size_category.id}_#{size_option.id}_values[]" %>
                              </div>
                              <!--size_input_mid ends-->
                            </div>
                        <% end %>
                      </div>
                  <% end %>
                  <!--youth_sizes ends-->

                  <div class="youth_sizes" style="margin-top: 50px;">
                    <label>Or estimate total number of t-shirts</label>

                    <div class="size_input">
                      <div class="size_input_lft"></div>
                      <div class="size_input_mid">
                        <%= text_field_tag "estimated_total_shirts" %>
                      </div>
                    </div>

                  </div>

                </div>
                <!--sizes_hold ends-->
              </div>
              <!--size_options ends-->

          <% end %>
        </div>
      </div>
      <!--select_color_hold ends-->
      <div class="next_btn_hold">
        <a href="javascript:void(0)" class="readmore" id="next">Next</a>
      </div>
      <!--next_btn ends-->
    </div>
    <!--next_btn ends-->
    </div>
    <!--order_form_hold ends-->
<% end %>

<script type='text/javascript'>

    $("#next").click(function () {
        var form = $(this).closest('form');
        $.post(form.attr("action"), form.serialize(), function (response) {
            if (response.success) {
                $("#form-holder").html(response.html);
            } else {
                $("#errors").html(response.html);
            }
        }, "json");
        return false;
    });

</script>
