<% content_for :head do %>
    <% @title = "Order process - OneBillionShirts" %>
    <%= @title %>
<% end %>
<%= render :partial => "/orders/progress_bar", :locals => { :count => 4 } %>
<%= javascript_include_tag "jquery" %>
<%= form_tag "/orders/form_5" do %>
    <div id="errors"></div>
    <div class="order_form_hold">
      <div class="select_color_hold">
        <div class="order_items">
          <div class="items_head"><span>4.</span>

            <p>Ink Colors</p></div>
          <div class="front_back_info">
            <div class="front_info">
              <label>Front</label>
              <select name="ink_color_option_ids[]" id="ink_color_options_front">
                <option value="0">0</option>
                <% @front_ink_color_options.each do |option| %>
                    <option value="<%= option.id %>"><%= option.name %></option>
                <% end %>
              </select>
            </div>
            <!--front_info ends-->
            <div class="front_info">
              <label>Back</label>
              <select name="ink_color_option_ids[]" id="ink_color_options_back">
                <option value="0">0</option>
                <% @back_ink_color_options.each do |option| %>
                    <option value="<%= option.id %>"><%= option.name %></option>
                <% end %>
              </select>
            </div>
            <!--front_info ends-->
          </div>
          <!--front_back_info ends-->
          <div class="file_instructions">

            <div class="choose_file" id="front-file" style="display: none;">
              <label>Front</label>

              <div class="choose_file_lft"></div>
              <!--choose_file_lft ends-->
              <div class="choose_file_mid">
                <div class="btn_field">
                  <%= file_field_tag :art_file_front %>
                </div>
                <!--btn_field ends-->
              </div>
              <!--choose_file_mid ends-->
              <div class="choose_file_rit"></div>
              <!--choose_file_rit ends-->
            </div>
            <!--choose_file ends-->
            <div class="choose_file" id="back-file" style="display: none;">
              <label>Back</label>

              <div class="choose_file_lft"></div>
              <!--choose_file_lft ends-->
              <div class="choose_file_mid">
                <div class="btn_field">
                  <%= file_field_tag :art_file_back %>
                </div>
                <!--btn_field ends-->
              </div>
              <!--choose_file_mid ends-->
              <div class="choose_file_rit"></div>
              <!--choose_file_rit ends-->
            </div>
            <!--choose_file ends-->


            <div class="design_instructions">
              <p>Design Instructions:</p>
              <%= text_area_tag :instructions %>
            </div>
            <!--design_instructions ends-->
          </div>
          <!--file_instructions ends-->
        </div>
        <!--order_items ends-->
      </div>
      <!--select_color_hold ends-->
      <div class="next_btn_hold">
        <a href="javascript:void(0)" class="readmore" id="next">Next</a>
      </div>
      <!--next_btn ends-->
    </div>    <!--order_form_hold ends-->
<% end %>

<script type='text/javascript'>


    $("#next").click(function () {
        $(this).closest('form').ajaxSubmit({
            beforeSubmit:function (a, f, o) {
                o.dataType = 'json';
            },
            complete:function (XMLHttpRequest, textStatus) {
                if (textStatus == "error") {
                    $("#errors").html(XMLHttpRequest.responseText);
                } else {
                    $("#form-holder").html(XMLHttpRequest.responseText);
                }
            }
        });
    });


    $("#ink_color_options_front").change(function () {
        if (($(this).val() > 0)) {
            $("#front-file").show();
        } else {
            $("#front-file").hide();
        }
    });

    $("#ink_color_options_back").change(function () {
        if (($(this).val() > 0)) {
            $("#back-file").show();
        } else {
            $("#back-file").hide();
        }
    });

</script>
