<div class="certificate_hold">
  <div class="w_100 mtop50"></div>
  <div class="w_100 mtop25">
    <p class="p_s">OneBillionShirts.org is an initiative to create a new avenue of fundraising for
      charity through customer t-shirts. We would like your company to participate
      and donate 25¢ per shirt to the charity listed below. This slight shift will help
      us help others and change the world!</p>
  </div>
  <div class="w_100 mtop45">
    <div class="separator_1"></div>
  </div>
  <div class="w_100 mtop45">
    <div class="c_c mbot30">
      <p>Charity of customer's choice: </p>
                    <span>
                      <%= @charity.name %><br/>
                      <%= @charity.address %><br/>
                      <%= @charity.city %>, <%= @charity.state %> <%= @charity.zip %>
                    </span>
    </div>
    <!--c_c ends-->
    <div class="c_c mbot30">
      <p>How to donate: </p>
      <span><%= @charity.website %></span>
    </div>
    <!--c_c ends-->
  </div>
  <div class="w_100">
    <p class="p_s1">This charity is a 501(c)(3) organization and all donations are eligible for tax deduction.</p></div>
</div>
<!--certificate_hold ends-->
<style>

    @font-face {
        font-family: 'museo_500regular';
        src: url(<%= Rails.root.join('app','assets','fonts','museo500-regular-webfont.eot').to_s %>);
        src: url(<%= Rails.root.join('app','assets','fonts','museo500-regular-webfont.eot?#iefix').to_s %>) format('embedded-opentype'), url(<%= Rails.root.join('app','assets','fonts','museo500-regular-webfont.woff').to_s %>) format('woff'), url(<%= Rails.root.join('app','assets','fonts','museo500-regular-webfont.ttf').to_s %>) format('truetype'), url(<%= Rails.root.join('app','assets','fonts','museo500-regular-webfont.svg#museo_500regular').to_s %>) format('svg');
        font-weight: normal;
        font-style: normal;

    }

    .certificate_hold {
        background: url(<%= Rails.root.join('app','assets','images','certificate_bg.png').to_s %>) no-repeat;
        width: 792px;
        height: 612px;
        margin: 0 auto;
        font-family: museo_500regular, Arial, Helvetica, sans-serif !important;
        border: none;
        border-width: 0px;
        border-style: none;
        background-color: none;
        outline: none;
    }

    .w_100 {
        float: left;
        width: 100%;
    }

    .mtop50 {
        margin-top: 50px;
    }

    .mtop25 {
        margin-top: 125px
    }

    .mtop45 {
        margin-top: 40px;
    }

    .mbot30 {
        margin-bottom: 22px;
    }

    .logo_head {
        background: url(<%= Rails.root.join('app','assets','images','certificate_logo_head.png').to_s %>) no-repeat;
        width: 576px;
        height: 106px;
        margin: 0 auto;
    }

    .p_s {
        font-size: 13px;
        color: #000;
        margin: 0 auto;
        width: 84%;
    }

    .sep_mid {
        margin: 0 auto;
    }

    .c_c {
        float: left;
        margin-left: 62px;
    }

    .c_c p {
        font-size: 13px;
        color: #000;
        width: 200px;
        float: left;
        margin: 0 30px 0 0;
    }

    .c_c span {
        font-size: 13px;
        color: #000;
        width: 400px;
        float: left;
    }

    .p_s1 {
        font-size: 13px;
        color: #000;
        margin-left: 62px;
        float: left;
        margin: 0 0 0 62px;
    }

    .separator_1 {
        background: url(<%= Rails.root.join('app','assets','images','certificate_seperator.png').to_s %>) no-repeat;
        height: 8px;
        margin: 0 auto;
        text-align: center;
        width: 446px;
        clear: both;
    }

    .separator_2 {
        background: url(<%= Rails.root.join('app','assets','images','certificate_stamp.png').to_s %>) no-repeat;
        height: 109px;
        margin: 0 auto;
        text-align: center;
        width: 680px;
        clear: both;
    }


</style>
