:css
  a.popBtn{
    width: 100px;
    height: 40px;
    background-color: #999;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    float: left;
    margin-right: 12px;
    cursor:pointer;
  }
  a.popBtn:hover{
    background-color: #666;
  }
  .final_form label{
    float: left;
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
    display: block;
    width: 130px;
    text-align: left;
    font-family: ProximaNova-Regular !important;
  }
  a.request{
    cursor: pointer;
    font-size: 20px;
    width: 250px;
    border: 1px solid #00afeb;
    height: 50px;
    line-height: 50px;
    background-color: #00afeb;
    color: white;
    font-weight: normal;
    border-radius: 7px;
  }
  table.more td{
    width: 60px;
    text-align: center;
  }

  table.more th{
   width: 75px;
   text-align: center;
   font-size: 18px;
   padding-left: 16px;
  }
  div#results h4{
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 22px;
    line-height: 40px;
    clear: both;

  }
  a#calculate{
    background-color: #527f2e;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    height: 42px;
    line-height: 39px;
    color: white;
    font-size: 16px;
    border: 1px solid #527f2e;
    font-weight: normal;
    letter-spacing: 1px;
    border-radius: 7px;
  }
  span.selected_style_name{
    width: 220px;
    height: 30px;
    font-size: 16px;
    float: left;
  }
  select#front, select#back{
     margin-left: 10px;
     width: 55px;
     height: 36px;
     border: 1px solid #ccc;
     font-size: 16px;
     font-weight: bold;
     padding-left: 10px;
     border-radius: 8px;
     background: #ececec;
  }
  #charity_id{
   width: 300px;
   height: 45px;
   border: 1px solid #ccc;
   font-size: 16px;
   float: left;
   padding-left: 10px;
   border-radius: 8px;
   background: #ececec;
  }
  .move{
    margin-left:250px;
    width: 100%
  }
  .padded h3{
    color: black;
    font-size:20px;
  }
  .padded > div{
    margin-bottom:25px;
    float:left;
  }
  .chosen{
    outline: 2px solid black;
  }
  table.more{
    margin-left: auto;
    margin-right: auto;
  }
  .final_form a.place{
   clear: both;
   cursor: pointer;
   margin-top: 40px;
   font-size: 18px;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid;
   width: 200px;
   height: 40px;
   padding: 5px;
   line-height: 40px;
   background-color: #60b4d9;
   color: white;
   border-radius: 5px;
  }
  .final_form input[type='file']{
    margin-top:3px;
  }
  .final_form input[type='text']{
    border: 1px solid #ccc;
    width: 290px;
    height: 30px;
    font-size: 18px;
    padding: 4px;
    margin:10px;
    border-radius: 5px;
  }

  .final_form textarea {
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 4px;
  margin: 10px;
  }

  .ui-widget-content {
  border: 1px solid #e8e8e8;
  background: #FFF ;
  }

  .desc_place p
  {
  font-size:14px;
  line-height:22px;
  }

  .data{
    height: 30px;
  }
  .white:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin: 0px 49% 0 49%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 14px solid #ececec;
  }

  .order-help{
    margin-right: 7px;
  }

:javascript
  $(function() {
      $( document ).tooltip();
  });

  $(document).ready(function(){

    id = $("#style_id").val()
    colors = $("#"+id+".final_style").data("colors").toString()
    colors = colors.split(",")
    $(".color_box_div").hide();
    for(i in colors){
      $(".color_box_div#"+colors[i]).show()
    }
    $(".color_box_div").removeClass("chosen")
    $($(".color_box_div:visible")[0]).addClass("chosen")

    $("a.request").click(function(){
      $("div.final_form").bPopup({closeClass: "popClose"});
    })

    $("a.place").click(function(){
      n_s = toZero(parseInt($("#n_s").val()))
      n_m = toZero(parseInt($("#n_m").val()))
      n_l = toZero(parseInt($("#n_l").val()))
      n_xl = toZero(parseInt($("#n_xl").val()))
      n_xxl = toZero(parseInt($("#n_xxl").val()))

      total = n_s + n_m + n_l + n_xl + n_xxl

      style_id = $("#style_id").val()

      f_color = $("#front").val()
      b_color = $("#back").val()
      email = $("#email").val()
      name  = $("#name").val()
      phone = $("#phone").val()
      instructions = $("#instructions").val()
      zip   = $("#zip").val()
      reference = $("#reference_id").val();

      color = $(".color_box_div.chosen").attr("id")
      later = $("#later").is(":checked")
      params = { 
        order: {
          n_s: n_s, 
          n_m: n_m, 
          n_l: n_l, 
          n_xl: n_xl, 
          n_xxl: n_xxl, 
          email: email,
          name: name,
          phone: phone,
          instructions: instructions,
          zip: zip,
          quantity: total, 
          style_id: style_id, 
          f_c: f_color, 
          b_c: b_color, 
          shirt_color_id: color,
          charity_id: $("#charity_id").val(),
          reference_id: reference,
          later: later
        }
        }

        $("#extras").val(JSON.stringify(params))
        $(".final_form form").submit()

      /*$.ajax({
        url: "/orders/",
        data: params,
        method: "post",
        success: function(data){
          document.location = "/orders/thankyou"
        }
      })*/

      return false;
    })

    function is_int(value){
      if((parseFloat(value) == parseInt(value)) && !isNaN(value)){
        return true;
      } else {
        return false;
      }
    }
    var active_diag = null
    $(".change_style").click(function(){
      $("#style_picker").bPopup({closeClass: "popClose"});
      return false;
     })
    $("a#back").click(function(){
      active_diag.bPopup().close();
      acitve_diag = $("#style_picker").bPopup({closeClass: "popClose"});
    })
    $(".all").click(function(){
      active_diag.bPopup().close();
      $("#style_id").val($(this).find(".final_style").attr("id"));
      colors = $(this).find(".final_style").data("colors").toString()
      colors = colors.split(",")
      $(".color_box_div").hide();
      for(i in colors){
        $(".color_box_div#"+colors[i]).show()
      }
      $(".color_box_div").removeClass("chosen")
      $($(".color_box_div:visible")[0]).addClass("chosen")
      $("span.selected_style_name").text($(this).find(".final_style").data("name"))
      return false;
     })
    $(".sub_cat").click(function(){
      id = "#dialog_"+$(this).attr('id');
      active_diag = $(id).bPopup({closeClass: "popClose"});
      $("#style_picker").bPopup().close();
      return false;
     })
    $("#charity_id").change(function(){
      id = $(this).val()
      el = "#charity_"+id
      $el = $(el)
      console.log(  $el.data("slug")  )
      if($el.data("slug")!= null)
      {
        $(".logo_place img.logoimg").attr("src", $el.data("logo"))
        $(".logo_place > a").attr("href", "/charities/"+$el.data("slug"))
        $(".title_place").text($el.data("name"))
        $(".desc_place").html($el.data("desc"))
      }else{
          $(".logo_place img.logoimg").attr("src", "/assets/no_img.jpg")
          $(".logo_place > a").attr("href", "#")
          $(".title_place").text("No charity selected ..")
          $(".desc_place").html("Can select charity later ..")
      }
    })

    //for first time on load
    $("#charity_id").trigger("change")

    $(".color_box_div").click(function(){
      $(".color_box_div").removeClass("chosen");
      $(this).addClass("chosen");
    })

    var toZero = function(i){
      if (i.toString() == "NaN"){
        return 0
      }
      else{
        return i
      }
    }

    $("#calculate").click(function(){
      total = 0 ;

      $("#calculate").text("Calculating...")
      n_s = toZero(parseInt($("#n_s").val()))
      n_m = toZero(parseInt($("#n_m").val()))
      n_l = toZero(parseInt($("#n_l").val()))
      n_xl = toZero(parseInt($("#n_xl").val()))
      n_xxl = toZero(parseInt($("#n_xxl").val()))


      total = n_s + n_m + n_l + n_xl + n_xxl

      style_id = $("#style_id").val()

      f_color = $("#front").val()
      b_color = $("#back").val()

      color = $(".color_box_div.chosen").attr("id")
      params = {total: total, style_id: style_id, f_color: f_color, b_color: b_color, style_color: color}
      console.log(params)

      $.ajax({
        url: "/orders/calculate",
        data: params,
        method: "get",
        success: function(data){
          $("#calculate").text("Calculate")
          $(".after_section").show();
          $("strong.total_unit").text(total);
          $("strong.unit").text("$"+parseFloat(data.unit).toFixed(2))
          $("strong.total").text("$"+parseFloat(data.total).toFixed(2))
          $("strong.charity").text("$"+data.charity.toFixed(2))
          $("table.more").find("tr.data").remove();
          $.each(data.more, function(i,item){
            $("table.more").append("<tr class='data'><td>"+item.num+"</td><td> $"+parseFloat(item.unit).toFixed(2)+"</td><td> $"+item.charity.toFixed(2)+"</td></tr>")
          })
        }
      })

      return false;

    })
  })
.featured-section_about{style:"background: #404945; height: 148px;    background-size: cover;"}
  .slider_hold{:style => "height:auto;"}
    .slider_text
      %h1{style:"width:50% !important"} Quick Quote Order Form
.my_wrapper
  %div{:style => "margin-left: auto; margin-right: auto; width: 960px;"}
    .padded{style:"width:60%;margin:0 auto"}
      %div{:style => "clear:both;margin-top:20px"}
        %div{:style => "width:20%; float:left;"}
          %a.order-help{:style=>"float:left",title:"Our mission is to leverage custom t-shirts for a charitable donation to a charity of your choice. You can select a charity from the dropdown menu, browse our database, or suggest your own charity."}
          %h3{:style=>"float:left"} Charity:
        %div.move
          = select_tag "charity_id", options_from_collection_for_select(@charities, "id", "name", selected: @charity_id), prompt: "Select Charity Later"
          =link_to "Browse Charity Database", charities_path, style:"float: right; color: #ed6430; line-height: 30px;margin-right: 100px;line-height: 42px;"
          -@charities.each do |charity|
            -unless charity.logo.blank?
              %div{style:"display:none;", id: "charity_#{charity.id}", data: {logo: charity.logo.image(:thumb), name: charity.name, slug: charity.slug, desc: charity.mission_statement.html_safe }}
      %div{:style => "clear:both;margin-top:20px"}
        %div{:style => "width:30%; float:left;"}
          %a.order-help{:style=>"float:left",title:"This is the shirt you would like to print on. We carry all brands and styles, which you can see if you click ‘change style’."}
          %h3 Style:
        %div.move
          %span.selected_style_name= Style.first.name
          =hidden_field_tag :style_id, Style.first.id
          %a.change_style{style:"cursor:pointer;float: right; color: #ed6430;width: 147px;margin-right: 100px;line-height: 42px;"}
            Change
      %div{:style => "clear:both;margin-top:20px;height:auto;"}
        %div{:style => "width:20%; float:left;"}
          %a.order-help{:style=>"float:left",title:"Select a color for your t-shirt. Tip: White is always less expensive than black and colors."}
          %h3 Color:
        %div.move
          .color_boxes
            -ShirtColor.all.each do |color|
              .color_box_div{id:color.id}
                %a.color_box{:href=>"#", :style => "background: ##{color.code}", 'title'=>"#{color.name}"}
                  .color_code_div{"title" => "#{color.name}"}
      %div{:style => "clear:both;margin-top:20px"}
        %div{:style => "width:20%; float:left;"}
          %a.order-help{:style=>"float:left",title:"Choose the sizes for your order. If you do not have an exact size count, no worries. Sizes can be adjusted later, this is used primarily for to see a real time estimate. Note that 2XL and up will be more expensive, which will be reflected in your actual quote."}
          %h3 Sizes:
        %div.move
          .shirt_sizes
            .sizes_hold
              .youth_sizes{style:"margin: 0;"}
                .size_input
                  %p S
                .size_input
                  %p M
                .size_input
                  %p L
                .size_input
                  %p XL
                .size_input
                  %p XXL+
              .youth_sizes
                .size_input
                  .size_input_mid
                    %input#n_s{:name => "1_1_values[]", :type => "text"}/
                  / size_input_mid ends
                .size_input
                  .size_input_mid
                    %input#n_m{:name => "1_2_values[]", :type => "text"}/
                  / size_input_mid ends
                .size_input
                  .size_input_mid
                    %input#n_l{:name => "1_3_values[]", :type => "text"}/
                  / size_input_mid ends
                .size_input
                  .size_input_mid
                    %input#n_xl{:name => "1_4_values[]", :type => "text"}/
                  / size_input_mid ends
                .size_input
                  .size_input_mid
                    %input#n_xxl{:name => "1_5_values[]", :type => "text"}/
                  / size_input_mid ends
      %div{:style => "clear:both;margin-top:20px"}
        %div{:style => "width:30%; float:left;"}
          %a.order-help{:style=>"float:left",title:"This reflects the number of colors in your design. The more colors in the design, the more expensive it is to print."}
          %h3 Ink Colors:
        %div.move
          %label Front
          = select_tag :front, options_for_select((0..6).step(1).to_a.map{|s| ["#{s}", s]}, selected: "1"), style: "display:inline;"
          %label{style:"margin-left:15px;"} Back
          = select_tag :back, options_for_select((0..6).step(1).to_a.map{|s| ["#{s}", s]}), style: "display:inline;"


      %div{:style => "clear:both;margin-top:20px;text-align:center;width:100%;"}
        =link_to "Calculate", "", id:"calculate"

  .white{style:"position: relative;clear: both; width: 100%;  background: white;"}
    .after_section{style:"margin-left: auto; margin-right: auto;display:none;clear:both;padding-top: 30px;margin-top:20px;text-align:center;width:990px;"}
      %div{style: "float:left;width: 175px;margin-left:0px;"}
        %div#results{style: "float:left;text-align: left;"}
          %h4{style:"font-size: 15px;"}
            Calculate Price:
          %h4
            %span{style:"float: left;"} Units:
            %strong.total_unit{style:"float: right;"}
          %h4
            %span{style:"float: left;"} Unit Price:
            %strong.unit{style:"float: right;"}
          %h4
            %span{style:"float: left;"} Total Price:
            %strong.total{style:"float: right;"}
          %h4
            %span{style:"float: left;"} Charity
            %strong.charity{style:"float: right;"}
          -#.save_n_share
          %br{style:"clear: both;"}
          %p{style:"font-size: 14px;margin-top: 30px;"}
            *XXL+ = extra charge to be determined upon estimate
      %div{style: "float:left;width: 310px;margin-left: 88px; border-left: 1px solid #ececec; min-height: 250px;"}
        %h4{style:"float: left;font-weight:normal; margin-left:35px"} Order more and save!
        %h4{style:"float: right;color: #069edb;;"} SHARE & SAVE!
        %table.more{style:"margin-top:35px;"}
          %thead
            %tr.head
              %th{style:"color:#517c2e"} QUANTITY
              %th{style:"color:#517c2e"} Price
              %th{style:"color:#517c2e"} Donation
      %div{style: "float: right;width: 365px;margin-left: 25px; padding-left: 25px; border-left: 1px solid #ececec; min-height: 250px;"}
        %div
          .logo_place
            =link_to (image_tag Charity.first.logo.image(:thumb), class:"logoimg",style:"border:1px solid #ccc"), charity_path(Charity.first) unless Charity.first.logo.blank?

        %div{style:"width:70%;text-align: left;"}
          .title_place{style:"font-weight:bold;font-size:16px;margin-top: 18px;"}
            =Charity.first.name
          .desc_place{style:"height: 140px;overflow: hidden;"}
            =Charity.first.mission_statement.html_safe
    %div.after_section{style:"display:none;clear:both;margin-top:20px;text-align:center;width:100%;padding-top: 1px; padding-bottom: 30px;"}
      %a.request{style:"margin-left: auto; margin-right: auto; margin-top:30px"}
        Request a Virtual Proof




  %div#style_picker{style:"outline: rgb(204, 204, 204) solid 15px;padding:25px;background-color:white;width:800px;height:auto;display:none;"}
    %h2
      Pick A Style
    -@style_categories.each do |sc|
      %div{style:"float:left;width:350px;margin:10px;padding:10px;height:110px;"}
        %h3{style:"color:rgb(43, 102, 226);"}=sc.name
        %div{style:"float: left;margin-right: 15px;margin-top: 13px;"}
          =image_tag sc.photo(:thumb) , :style => "max-width: 150px;"
        %div{style:"float:left;margin-left:15px;max-width: 185px;"}
          %ul{style:"margin-top:10px;"}
            -sc.style_sub_categories.each do |ssc|
              %li{style:"display:list-item;"}
                =link_to ssc.name, "", style:"color:rgb(74, 187, 240);", id: "#{ssc.id}", class:"sub_cat"
    %div{style:"display: block;clear: both;float: right;"}
      %a.popClose.popBtn
        Cancel

  - @sub_cats.each do |sc|
    %div{style:"padding:40px;background-color:white;width:800px;height:auto;display:none;outline: rgb(204, 204, 204) solid 15px;", id:"dialog_#{sc.id}"}
      %h2
        = "Pick A Style"
      -sc.styles.each do |st|
        -unless st.shirt_colors.empty?
          %div.all{style:"float:left;width:350px;margin:10px;padding:10px;height:110px;cursor: pointer;"}
            %div{style:"float: left;margin-right: 15px;margin-top: 13px;"}
              =image_tag st.photo(:thumb), :style => "max-width: 150px;"
            %div{style:"float:left;margin-left:15px;max-width: 185px;margin-top: 13px;"}
              %div{style:"margin-bottom:10px;"}
                =link_to st.name, "", style:"color:blue", data: {colors: st.shirt_colors.collect(&:id).join(",").to_s, name: "#{st.name}"}, id:"#{st.id}", class:"final_style"
              -unless st.cost_level.blank?
                -if st.cost_level.to_s == "1"
                  %div $
                -if st.cost_level.to_s == "2"
                  %div $$
                -if st.cost_level.to_s == "3"
                  %div $$$
              %div
                %ul{style:"margin-left:15px;margin-top:10px;"}
                  - unless st.material.nil?
                    -st.material.split(",").each do |mat|
                      %li{style:"display:list-item;"}=mat
      %div{style:"display: block;clear: both;float: right;"}
        %a.popClose.popBtn
          Cancel
        %a#back.popBtn
          Back


  -#outline: 15px solid #ccc;
  %div.final_form{style:"text-align:center;display:none;width:450px; height:500px;background-color:white;padding:20px;border:2px #ccc"}
    Request Virtual Proof
    =form_tag "/orders/", method: :post, multipart: true do
      =hidden_field_tag :extras
      =label_tag "Full Name"
      =text_field_tag "name"
      =label_tag "Email"
      =text_field_tag "email"
      =label_tag "Phone Number"
      =text_field_tag "phone"
      =label_tag "Zip Code"
      =text_field_tag "zip"
      =label_tag "Reference"
      = select_tag "reference_id", options_from_collection_for_select(Reference.all , "id", "name"), style:"width: 67%; margin-left: 10px; margin-top: 10px;  margin-bottom: 10px; height: 40px;border-radius: 5px;background: white;border: 1px solid #ccc;"
      =label_tag "Front Art Work"
      =file_field_tag :front_art
      =label_tag "Back Art Work"
      =file_field_tag :back_art
      =label_tag "Instructions for our designers", nil , style:"margin-right: 35px; padding-top: 22px;"
      =text_area_tag "instructions", '', rows:"3"
      =check_box_tag :later, 1, false, style:"clear:both;width:13px;float:left;margin-top:15px;margin-left:10px;"
      =label_tag "later", "Submit Artwork Later", style:"width:200px; margin-top:9px;margin-left:0px"
    %a.place
      Place Order
