:css
  a.popBtn{
    width: 100px;
    height: 40px;
    background-color: #999;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    float: left;
    margin-right: 12px;
    cursor:pointer;
  }
  a.popBtn:hover{
    background-color: #666;
  }
  .final_form label{
    float: left;
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    display: block;
    width: 130px;
    text-align: left;
  }
  a.request{
    cursor: pointer;
    font-size: 20px;
    width: 250px;
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    margin: 0 258px;
    background-color: #00afeb;
    color: white;
    font-weight: normal;
  }
  table.more td{
    width: 60px;
    text-align: center;
  }

  table.more th{
    width: 60px;
    text-align: center;
  }
  div#results h4{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  a#calculate{
    background-color: #ed6430;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 39px;
    line-height: 39px;
    color: white;
    font-size: 16px;
    border: 1px solid #c6bebb;
    font-weight: normal;
    letter-spacing: 1px;
  }
  span.selected_style_name{
    font-size: 16px;
    }
  select#front, select#back{
    margin-left: 10px;
    display: inline;
    width: 50px;
    height: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
  }
  #charity_id{
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    float:left;
  }
  .move{
    margin-left:250px;
    }
  .padded h3{
    color: #ed6430;
    font-size:20px;
  }
  .padded > div{
    margin-bottom:25px;
    float:left;
  }
  .chosen{
    outline: 2px solid black;
  }
  table.more{
    margin-left: auto;
    margin-right: auto;
  }
  .final_form a.place{
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: 150px;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    background-color: orange;
    color: white;
  }
  .final_form input[type='file']{
    margin-top:18px;
  }
  .final_form input[type='text']{
    border: 1px solid #ccc;
    width: 370px;
    height: 30px;
    font-size: 18px;
    padding: 4px;
    margin:10px;
  }

:javascript
  $(document).ready(function(){

    id = $("#style_id").val()
    colors = $("#"+id+".final_style").data("colors").toString()
    colors = colors.split(",")
    $(".color_box_div").hide();
    for(i in colors){
      $(".color_box_div#"+colors[i]).show()
    }
    $(".color_box_div").removeClass("chosen")
    $($(".color_box_div:visible")[0]).addClass("chosen")

    $("a.request").click(function(){
      $("div.final_form").bPopup({closeClass: "popClose"});
    })

    $("a.place").click(function(){
      n_s = toZero(parseInt($("#n_s").val()))
      n_m = toZero(parseInt($("#n_m").val()))
      n_l = toZero(parseInt($("#n_l").val()))
      n_xl = toZero(parseInt($("#n_xl").val()))
      n_xxl = toZero(parseInt($("#n_xxl").val()))

      total = n_s + n_m + n_l + n_xl + n_xxl

      style_id = $("#style_id").val()

      f_color = $("#front").val()
      b_color = $("#back").val()

      color = $(".color_box_div.chosen").attr("id")
      params = { 
        order: {
          n_s: n_s, 
          n_m: n_m, 
          n_l: n_l, 
          n_xl: n_xl, 
          n_xxl: n_xxl, 
          email: $("#email").val(), 
          name: $("#name").val(), 
          quantity: total, 
          style_id: style_id, 
          f_c: f_color, 
          b_c: b_color, 
          shirt_color_id: color,
          charity_id: $("#charity_id").val()
        }
        }

        $("#extras").val(JSON.stringify(params))
        $(".final_form form").submit()

      /*$.ajax({
        url: "/orders/",
        data: params,
        method: "post",
        success: function(data){
          document.location = "/orders/thankyou"
        }
      })*/

      return false;
    })

    function is_int(value){
      if((parseFloat(value) == parseInt(value)) && !isNaN(value)){
        return true;
      } else {
        return false;
      }
    }
    var active_diag = null
    $(".change_style").click(function(){
      $("#style_picker").bPopup({closeClass: "popClose"});
      return false;
     })
    $("a#back").click(function(){
      active_diag.bPopup().close();
      acitve_diag = $("#style_picker").bPopup({closeClass: "popClose"});
    })
    $(".all").click(function(){
      active_diag.bPopup().close();
      $("#style_id").val($(this).find(".final_style").attr("id"));
      colors = $(this).find(".final_style").data("colors").toString()
      colors = colors.split(",")
      $(".color_box_div").hide();
      for(i in colors){
        $(".color_box_div#"+colors[i]).show()
      }
      $(".color_box_div").removeClass("chosen")
      $($(".color_box_div:visible")[0]).addClass("chosen")
      $("span.selected_style_name").text($(this).find(".final_style").data("name"))
      return false;
     })
    $(".sub_cat").click(function(){
      id = "#dialog_"+$(this).attr('id');
      active_diag = $(id).bPopup({closeClass: "popClose"});
      $("#style_picker").bPopup().close();
      return false;
     })
    $("#charity_id").change(function(){
      id = $(this).val()
      el = "#charity_"+id
      $el = $(el)
      $(".logo_place img.logoimg").attr("src", $el.data("logo"))
      $(".title_place").text($el.data("name"))
      $(".desc_place").text($el.data("desc"))
    })

    $(".color_box_div").click(function(){
      $(".color_box_div").removeClass("chosen");
      $(this).addClass("chosen");
    })

    var toZero = function(i){
      if (i.toString() == "NaN"){
        return 0
      }
      else{
        return i
      }
    }

    $("#calculate").click(function(){
      $("#calculate").text("Calculating...")
      n_s = toZero(parseInt($("#n_s").val()))
      n_m = toZero(parseInt($("#n_m").val()))
      n_l = toZero(parseInt($("#n_l").val()))
      n_xl = toZero(parseInt($("#n_xl").val()))
      n_xxl = toZero(parseInt($("#n_xxl").val()))

      total = n_s + n_m + n_l + n_xl + n_xxl

      style_id = $("#style_id").val()

      f_color = $("#front").val()
      b_color = $("#back").val()

      color = $(".color_box_div.chosen").attr("id")
      params = {total: total, style_id: style_id, f_color: f_color, b_color: b_color, style_color: color}
      console.log(params)

      $.ajax({
        url: "/orders/calculate",
        data: params,
        method: "get",
        success: function(data){
          $("#calculate").text("Calculate")
          $(".after_section").show();
          $("h4.unit").text("Unit Price: $"+data.unit)
          $("h4.total").text("Total Price: $"+data.total)
          $("h4.charity").text("Donation: $"+data.charity.toFixed(2))
          $("table.more").find("tr.data").remove();
          $.each(data.more, function(i,item){
            $("table.more").append("<tr class='data'><td>"+item.num+"</td><td> $"+item.unit+"</td><td> $"+item.charity.toFixed(2)+"</td></tr>")
          })
        }
      })

      return false;

    })
  })
%div{:style => "padding:40px 170px;"}
  %br/
  %h2 Quick Quote Order Form
  .padded{style:"padding-left:100px;"}
    %div{:style => "clear:both;margin-top:20px"}
      %div{:style => "width:20%; float:left;"}
        %h3 Charity:
      %div.move
        = select_tag "charity_id", options_from_collection_for_select(@charities, "id", "name", selected: @charity_id)
        =link_to "Browse Charity Database", charities_path, style:"margin-top: 12px;float: left;margin-left: 10px;color: #00afeb;"
        -@charities.each do |charity|
          %div{style:"display:none;", id: "charity_#{charity.id}", data: {logo: charity.logo.image(:thumb), name: charity.name, desc: charity.mission_statement}}
    %div{:style => "clear:both;margin-top:20px"}
      %div{:style => "width:20%; float:left;"}
        %h3 Style:
      %div.move
        %span.selected_style_name= Style.first.name
        =hidden_field_tag :style_id, Style.first.id
        %a.change_style{style:"color:#00afeb;cursor:pointer;"}
          Change
    %div{:style => "clear:both;margin-top:20px;height:auto;"}
      %div{:style => "width:20%; float:left;"}
        %h3 Color:
      %div.move
        .color_boxes
          -ShirtColor.all.each do |color|
            .color_box_div{id:color.id}
              .color_box{:style => "background: ##{color.code}"}
                .color_code_div{"data-title" => "#{color.name}"}
    %div{:style => "clear:both;margin-top:20px"}
      %div{:style => "width:20%; float:left;"}
        %h3 Sizes:
      %div.move
        .shirt_sizes
          .sizes_hold
            .youth_sizes
              .size_input
                %p S
              .size_input
                %p M
              .size_input
                %p L
              .size_input
                %p XL
              .size_input
                %p XXL
            .youth_sizes
              .size_input
                .size_input_mid
                  %input#n_s{:name => "1_1_values[]", :type => "text"}/
                / size_input_mid ends
              .size_input
                .size_input_mid
                  %input#n_m{:name => "1_2_values[]", :type => "text"}/
                / size_input_mid ends
              .size_input
                .size_input_mid
                  %input#n_l{:name => "1_3_values[]", :type => "text"}/
                / size_input_mid ends
              .size_input
                .size_input_mid
                  %input#n_xl{:name => "1_4_values[]", :type => "text"}/
                / size_input_mid ends
              .size_input
                .size_input_mid
                  %input#n_xxl{:name => "1_5_values[]", :type => "text"}/
                / size_input_mid ends
    %div{:style => "clear:both;margin-top:20px"}
      %div{:style => "width:20%; float:left;"}
        %h3 Ink Colors:
      %div.move
        %label Front
        = select_tag :front, options_for_select((1..6).step(1).to_a.map{|s| ["#{s}", s]}), style: "display:inline;"
        %label{style:"margin-left:15px;"} Back
        = select_tag :back, options_for_select((1..6).step(1).to_a.map{|s| ["#{s}", s]}), style: "display:inline;"

    %div{:style => "clear:both;margin-top:20px;text-align:center;width:100%;"}
      =link_to "Calculate", "", id:"calculate"
    .after_section{style:"display:none;"}
      %div{:style => "clear:both;margin-top:20px;"}
        %div#results{style: "float:left;width:50%"}
          %h4.unit
            Unit Price: 
          %h4.total
            Total Price: 
          %h4.charity
            Charity
          %br
          %h4 Order more and save
          %table.more{style:"margin:0;margin-left:-20px;"}
            %thead
              %tr.head
                %th QTY
                %th Price
                %th Donation
        %div{style: "float:left;width:50%"}
          %div{style: "float:left;width:50%"}
            .logo_place
              =image_tag Charity.first.logo.image(:thumb), class:"logoimg"
          %div{style: "float:left;width:50%"}
            .title_place
              =Charity.first.name
            .desc_place
              =Charity.first.mission_statement
      %div{:style => "clear:both;margin-top:20px;text-align:center;"}
        %a.request
          Request a Virtual Proof




%div#style_picker{style:"outline: rgb(204, 204, 204) solid 15px;padding:25px;background-color:white;width:800px;height:auto;display:none;"}
  %h2
    Pick A Style
  -@style_categories.each do |sc|
    %div{style:"float:left;width:350px;margin:10px;padding:10px;height:110px;"}
      %h3{style:"color:rgb(43, 102, 226);"}=sc.name
      %div{style:"float: left;margin-right: 15px;margin-top: 13px;"}
        =image_tag sc.photo(:thumb) , :style => "max-width: 150px;"
      %div{style:"float:left;margin-left:15px;max-width: 185px;"}
        %ul{style:"margin-top:10px;"}
          -sc.style_sub_categories.each do |ssc|
            %li{style:"display:list-item;"}
              =link_to ssc.name, "", style:"color:rgb(74, 187, 240);", id: "#{ssc.id}", class:"sub_cat"
  %div{style:"display: block;clear: both;float: right;"}
    %a.popClose.popBtn
      Cancel

- @sub_cats.each do |sc|
  %div{style:"padding:40px;background-color:white;width:800px;height:auto;display:none;outline: rgb(204, 204, 204) solid 15px;", id:"dialog_#{sc.id}"}
    %h2
      = "Pick A Style"
    -sc.styles.each do |st|
      -unless st.shirt_colors.empty?
        %div.all{style:"float:left;width:350px;margin:10px;padding:10px;height:110px;cursor: pointer;"}
          %div{style:"float: left;margin-right: 15px;margin-top: 13px;"}
            =image_tag st.photo(:thumb), :style => "max-width: 150px;"
          %div{style:"float:left;margin-left:15px;max-width: 185px;margin-top: 13px;margin-right: 100px;"}
            %div{style:"float:left;"}
              =link_to st.name, "", style:"color:blue", data: {colors: st.shirt_colors.collect(&:id).join(",").to_s, name: "#{st.name}"}, id:"#{st.id}", class:"final_style"
            %div $ #{st.cost_level unless st.cost_level.blank?}
            %div
              = st.material  unless st.material.blank?
    %div{style:"display: block;clear: both;float: right;"}
      %a.popClose.popBtn
        Cancel
      %a#back.popBtn
        Back



%div.final_form{style:"outline: 15px solid #ccc;text-align:center;display:none;width:450px; height:330px;background-color:white;padding:20px;border:2px #ccc"}
  =form_tag "/orders/", method: :post, multipart: true do
    =hidden_field_tag :extras
    =label_tag "Email"
    =text_field_tag "email"
    =label_tag "Full Name"
    =text_field_tag "name"
    =label_tag "Front Art Work"
    =file_field_tag :front_art
    =label_tag "Back Art Work"
    =file_field_tag :back_art
  %a.place
    Place Order
