<%= stylesheet_link_tag "jquery.bxslider", :media => "all" %>
<% content_for :head do %>
  <% @title = "#{@charity.name} - OneBillionShirts" %>
    <%= @title %>
<% end %>
<div class="rit_content">
  <div class="chose_charity">
    <div class="back_link">
      <a onclick="set_active('<%=@get_key %>');" class="charity-link" href="javascript:;">Back</a>
    </div>

    <!--back_link ends-->

  </div>
  <!--chose_charity ends-->
  <div class="charity_list">
    <div class="c_list_img_n">
      <% if @charity.logo.present? %>
          <%= image_tag(@charity.logo.image.url(:medium)) %>

      <% else %>
          <img src="/assets/no_logo.jpg"/>
      <% end %>
    </div>
    <!--c_list_img_n ends-->
    <div class="c_list_txt_n">
      <div class="selected_btn_b">
        <a href="/charities/request_quote?id=<%= @charity.id %>" class="select-link">Choose This Charity</a>
      </div>
      <div class="list_txt_det">
        <h2><%= @charity.name %></h2>

        <p><%= @charity.address %></p>
        <span><%= @charity.city %>, <%= @charity.state %> <%= @charity.zip %></span>

        <p>Category: <%= @charity.charity_category.name %></p>

        <p>Website: <%= @charity.website %></p>

        <p>Tax ID: <%= @charity.tax_id %></p>
      </div>
      <!--list_txt_det ends-->
    </div>
    <div class="sharethis_div">
      <div class="socialz">
            <span class='st_sharethis_large' displayText='ShareThis'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
        <span class="st_twitter_large" st_via=''></span>
        <span class='st_linkedin_large' displayText='LinkedIn' id="linkdcount"></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <span class='st_email_large' displayText='Email'></span>
      </div>

      <div class="sharethis_img">
        <img src="/assets/sharing is caring.png" alt="sharethis_image">
      </div>

      <div class="sharethis_text">
        <p>Every share helps this charity raise more money through our charity <span>contests.</span></p>
      </div>

        <!--<span class='st_pinterest_large' displayText='Pinterest'></span>-->
        <!--<span class='st_email_large' displayText='Email'></span>-->

    </div>

    <!--c_list_txt_n ends-->
    <div class="text_infor">
      <h2>Mission Statement</h2>

      <p><%= raw @charity.mission_statement %></p>
    </div>
    <div class="text_infor">
      <h2>Description</h2>

      <p><%= raw @charity.description %></p>
    </div>
    <% if @charity.video_url.present? %>
        <div class="video_hold">
          <%= raw youtube_embed(@charity.video_url) %>
        </div>
        <!--video_hold ends-->
    <% end %>
    <div class="img_slider">
      <% if @charity.pictures.present? %>
          <ul class="<%= @charity.pictures.size > 4 ? 'bxslider' : '' %>" id="<%= @charity.pictures.size > 4 ? 'bxslider3' : '' %>">
            <% @charity.pictures.each do |charity_image| %>
                <li>
                  <% picture1 = charity_image.image.url.split("pictures") %>
                  <% unless @charity.logo.image.url == "#{picture1[0]}logos#{picture1[1]}" %>
                      <%= image_tag charity_image.image.url(:thumb) unless charity_image.image.blank? %>
                  <% else %>
                      <%= image_tag @charity.logo.image.url(:thumb) unless @charity.logo.image.blank? %>
                  <% end %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </div>
    <!--img_slider ends-->
  </div>
  <!--charity_list ends-->
</div>
<div class="selected_btn_b">
  <a href="/charities/request_quote?id=<%= @charity.id %>" class="select-link">Choose This Charity</a>
</div>
<!--selected_btn_b ends-->



<script type="text/javascript">

    $(".select-link").click(function () {
        $(this).closest(".selected_btn_b").addClass("selected-active");
        $(this).html("Charity Selected");
        $.get($(this).attr("href"), function (response) {
            $('#request-quote').bPopup({
                closeClass: 'bot_it',
                onClose: function () {
                    $(".selected_btn_b").removeClass("selected-active");
                    $(".select-link").html("Choose This Charity");
                }
            });
            $('#request-quote').html(response.html);
        });
        return false;
    });

    $(document).ready(function () {
        $('#bxslider3').bxSlider({
            minSlides: 2,
            maxSlides: 3,
            slideWidth: 100,
            slideMargin: 10
        });
//
    });

    stButtons.getCount("<%=@charity.slug %>key=<%=@get_key %>", "sharethis", $(".st_sharethis_hcount"));
    stButtons.getCount("<%=@charity.slug %>key=<%=@get_key %>", "facebook", $(".st_facebook_hcount"));
    stButtons.getCount("<%=@charity.slug %>key=<%=@get_key %>", "twitter", $(".st_twitter_hcount"));
    stButtons.getCount("<%=@charity.slug %>key=<%=@get_key %>", "LinkedIn", $(".st_linkedin_hcount"));
</script>
<style>
    .img_slider .bx-wrapper .bx-controls-direction a {
        top: 35%;
    }
</style>
