<%= javascript_include_tag "jPages" %>
<% content_for :head do %>
  <% @title = "Charities - OneBillionShirts" %>
    <%= @title %>
<% end %>
<script type="text/javascript">

    /* when document is ready */
    $(function () {
        /* initiate plugin */
        $("div.holder").jPages({
            containerID: "itemContainer",
            midRange: 5,
            perPage: 25
        });
    });
</script>

<%= render :partial => "/charities/search_form" %>
<div class="rit_sort_heads">
  <p>Sort by:</p>
  <a href="/charities/sort_charities?sort_key=name" class="sort-key">Name</a>
  <a href="/charities/sort_charities?sort_key=created_at" class="sort-key">Recently Added</a>
  <a href="/charities/sort_charities?sort_key=city" class="sort-key">City</a>
  <a href="/charities/sort_charities?sort_key=state" class="sort-key">State</a>
</div>
<!--rit_sort_heads ends-->
<% if @charities.present? %>



    <!--! end of #sidebar -->


    <!-- navigation holder -->

    <!-- item container -->
    <ul id="itemContainer">

      <% @charities.each do |charity| %>
          <li>
            <div class="charity_list">
              <div class="c_list_img">
                <a href="/<%= charity.slug %>">
                  <% cookies[:key] =   $get_key%>
                  <% if charity.logo.present? %>
                      <%= image_tag charity.logo.image.url(:thumb) %>
                  <% else %>
                  <img src="/assets/no_logo.jpg" width="150" height="150" />
                  <% end %>
                </a>
              </div>
              <!--c_list_img ends-->
              <div class="c_list_txt">
                <div class="list_txt_det">
                  <h2><%= charity.name %></h2>
                  <span><%= charity.city %>, <%= charity.state %> <%= charity.zip %></span>

                  <p><%= raw charity.mission_statement %></p>
                </div>
                <!--list_txt_det ends-->
                <a href="/<%= charity.slug %>">Learn more</a>

                <div class="selected_btn_holder">
                  <div class="selected_btn">
                    <a href="/charities/request_quote?id=<%= charity.id %>" class="select-link">Choose This
                      Charity</a>
                  </div>
                </div>
                <!--selected_btn_holder ends-->
              </div>
              <!--c_list_txt ends-->
              <div class="border_bot"></div>
              <!--border_bot ends-->
            </div>
          </li>
      <% end %>
    </ul>
    <br/>

    <!-- navigation holder -->
    <div class="holder">
    </div>


    <!--charity_list ends-->

<% end %>


<script type="text/javascript">

    $(".sort-key").click(function () {
        $.get($(this).attr("href"), function (response) {
            $('#charities').html(response.html);
        });
        return false;
    });

    $(".select-link").click(function () {
        $(".selected-active").each(function () {
            $(this).children("a").html("Choose This Charity");
            $(this).removeClass("selected-active");
        });
        $(this).closest(".selected_btn").addClass("selected-active");
        $(this).html("Charity Selected");
        $.get($(this).attr("href"), function (response) {
            $('#request-quote').bPopup({
                closeClass: 'bot_it',
                onClose: function () {
                    $(".selected_btn").removeClass("selected-active");
                    $(".select-link").html("Choose This Charity");
                }
            });
            $('#request-quote').html(response.html);
        });
        return false;
    });

</script>


