.wrapper{:xmlns => "http://www.w3.org/1999/html"}
  = form_for(@charity, :url => "/charities/add_charity") do |f|
    .charity_hold
      - if @charity.errors.any?
        #error_explanation
          %h2
            = pluralize(@charity.errors.count, "error")
            prohibited this charity from being saved:
          %ul
            - @charity.errors.full_messages.each do |msg|
              %li= msg
      .charity_lft
        .c_input
          %label Charity Name:
          = f.text_field :name
        / c_input ends
        .c_input
          %label Address:
          = f.text_field :address
        / c_input ends
        .input_items
          .c_input_item
            %label City
            = f.text_field :city
          / c_input ends
          .c_input_item
            %label State
            = f.text_field :state
          / c_input ends
          .c_input_item.c_input_w
            %label Zip Code
            = f.text_field :zip
          / c_input ends
        / input_items ends
        .c_input
          %label Category:
          .check_text
            - @charity_categories.each do |category|
              .chk_list
                = f.radio_button :charity_category_id, category.id
                %p= category.name
              / chk_list ends
          / check_text ends
        / c_input ends
        .c_input
          %label Website:
          = f.text_field :website
        / c_input ends
        .c_input
          %label Tax ID (if known):
          = f.text_field :tax_id
        / c_input ends
        .c_input.txt_area_mission
          %label Mission Statement (>100words):
          = f.text_area :mission_statement
        / c_input ends
        .c_input.txt_area
          %label Charity Description (Mission, Values, Etc):
          = f.text_area :description
        / c_input ends
        .c_input
          %label Youtube Video:
          = f.text_field :video_url
        / c_input ends
        .c_input
          %label Twitter ID:
          = f.text_field :twitter_id
        / c_input ends
        .c_input
          %label Facebook Page:
          = f.text_field :facebook_page
        / c_input ends
        .c_input
          %label Your Name
          = f.text_field :your_name
        / c_input ends
        .c_input
          %label Your Phone:
          = f.text_field :your_phone
        / c_input ends
        .c_input
          %label Your email:
          = f.text_field :your_email
        / c_input ends
        .c_input
          %label Add Logo (ideal: 250px x 250px)
          - f.object.logo ||= Logo.new
          = f.fields_for :logo do |logo|
            = logo.file_field :image, style:"padding-top: 10px;"
        .c_input
          %label Add More Pictures
          - $f = f
          #image-form-holder.upload_hold
            = render :partial => "/charities/image_form"
          .up_check_txt
            %a.add-link{:href => "/charities/image_form"} + add another
          / upload_hold ends
        / c_input ends
      / charity_lft ends
      .charity_rit
        #suggest_charity_div
          = render :partial => "suggest_charity"
        %div{:style => "float: left;width:100%;"}
          %h2 Why Suggest Your Charity?
          %p Suggesting a charity is free and only takes 1 minute. Once added to our site, the charity can leverage our custom base and the charities sphere of influence to create a new fundraising stream.
          %span Leverage every order to donate to charity
          %span Gain exposure & inform others
          %span Share a link & create new revenue stream
          %span It's a win-win for everyone
      / charity_rit ends
      .btn_align
        .choose_btn_2
          %a#add-charity{:href => "javascript:void(0);"} Save Your Charity
      / request_quote ends
    / charity_hold ends
/ wrapper ends
:javascript
  $(".add-link").click(function () {
      $.get($(this).attr("href"), function (response) {
          $('#image-form-holder').append(response.html);
          $(".upload-field").last().remove();
      });
      return false;
  });

  $("#add_charity_website").click(function () {
      if ($('#charity_website_textfield').val().length) {
          val = $('#charity_website_textfield').val();
          $.ajax({
              url: "/charities/suggest_charity?website_url=" + val, type: 'get', dataType: 'html',
              processData: false,
              success: function (data) {
                  $('#suggest_charity_div').html(data);
              }
          });
      }
      else {
          alert("URL field is blank?")
      }
  });

  $("#add-charity").click(function () {
      $(this).closest("form").submit();
      return false;
  });

:css
  .c_input input {
    border: 2px solid #e0e0e0;
    float: left;
    width: 99.5%;
    background: white;
    height: 39px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-family: 'museo_500regular';
    padding-left: 5px;
    border-radius: 5px;
  }
  .c_input textarea {
    border: 2px solid #e0e0e0;
    float: left;
    width: 98%;
    background: white;
    height: 239px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    padding: 5px;
    border-radius: 5px;
  }
  .c_input_item input {
    border: 2px solid #e0e0e0;
    float: left;
    width: 99.5%;
    background: white;
    height: 39px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-family: 'museo_500regular';
    padding-left: 5px;
    border-radius: 5px;
  }
  .chk_list input {
     float: left;
     width: 20px;
     margin-right: 15px;
     margin-top: 18px;
     position: relative;
     top: -12px;
  }