<h1>Listing Shirt Colors</h1>

<table>
  <tr>
    <th style="width: 150px;text-align: left;">Group</th>
    <th style="width: 150px;text-align: left;">Code</th>
    <th style="width: 150px;text-align: left;">Name</th>
    <th style="width: 150px;text-align: left;"></th>
  </tr>

  <% @shirt_colors.each do |shirt_color| %>
      <tr>
        <td>
          <%= shirt_color.color_group.name  %>
        </td>
        <td>
          <div style="float:left;width:40px;height:18px;margin-right: 5px;<%= "background: ##{shirt_color.code}" %>"></div>
        </td>
        <td>
          <%= shirt_color.code %>
        </td>
        <td><%= link_to 'Edit', edit_admins_shirt_color_path(shirt_color) %></td>
        <td><%= link_to 'Destroy', admins_shirt_color_path(shirt_color), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Shirt Color', new_admins_shirt_color_path %>
