<h1>Listing Charities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.website %></td>
        <td><%= link_to 'Details', admins_charity_path(charity) %></td>
        <td><%= link_to 'Edit', edit_admins_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', admins_charity_path(charity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Charity', new_admins_charity_path %>
