<h1>Charity Details</h1>
<div class="details-info-holder">
  <label>Name</label>

  <div class="details-info">
    <%= @charity.name %>
  </div>
</div>

<div class="details-info-holder">
  <label>Address</label>

  <div class="details-info">
    <%= @charity.address %>
  </div>
</div>

<div class="details-info-holder">
  <label>City</label>

  <div class="details-info">
    <%= @charity.city %>
  </div>
</div>

<div class="details-info-holder">
  <label>State</label>

  <div class="details-info">
    <%= @charity.state %>
  </div>
</div>


<div class="details-info-holder">
  <label>Zip Code</label>

  <div class="details-info">
    <%= @charity.zip %>
  </div>
</div>

<div class="details-info-holder">
  <label>Category</label>

  <div class="details-info">
    <%= @charity.charity_category.name %>
  </div>
</div>

<div class="details-info-holder">
  <label>Website</label>

  <div class="details-info">
    <%= @charity.website %>
  </div>
</div>

<div class="details-info-holder">
  <label>Mission Statement</label>

  <div class="details-info">
    <%= @charity.mission_statement %>
  </div>
</div>

<div class="details-info-holder">
  <label>Description</label>

  <div class="details-info">
    <%= @charity.description %>
  </div>
</div>

<div class="details-info-holder">
  <label>Youtube Video</label>

  <div class="details-info">
    <%= @charity.video_url %>
  </div>
</div>

<div class="details-info-holder">
  <label>Twitter ID</label>

  <div class="details-info">
    <%= @charity.twitter_id %>
  </div>
</div>

<div class="details-info-holder">
  <label>Facebook Page</label>

  <div class="details-info">
    <%= @charity.facebook_page %>
  </div>
</div>


<div class="details-info-holder">
  <label>Is Featured ? </label>

  <div class="details-info">
    <%= @charity.is_featured %>
  </div>
</div>

<div class="details-info-holder">
  <label>Is Top 10 ? </label>

  <div class="details-info">
    <%= @charity.is_top_ten %>
  </div>
</div>

<div class="details-info-holder">
  <label>Is Default ?</label>

  <div class="details-info">
    <%= @charity.is_default %>
  </div>
</div>

<div class="images-holder">
  <h2>Images</h2>
  <% if @charity.logo.present? %>
      <div class="charity-image">
        <%= image_tag @charity.logo.image.url(:thumb) %>
      </div>
  <% else %>
      <div class="charity-image">
        <img src="/assets/no_logo.jpg" width="150" height="150"/>
      </div>
  <% end %>
  <% if @charity.pictures.present? %>
      <% @charity.pictures.each do |picture| %>
          <% picture1 = picture.image.url.split("pictures") %>
          <% unless @charity.logo.image.url == "#{picture1[0]}logos#{picture1[1]}" %>
              <div class="charity-image">
                <%= image_tag picture.image.url(:thumb) if picture.image.url.present? %>
              </div>
          <% end %>
      <% end %>
  <% end %>
</div>
<%= link_to 'Destroy', admins_charity_path(@charity), method: :delete, data: {confirm: 'Are you sure?'} %>