<%= form_for(@questions_category, :url => url) do |f| %>
  <% if @questions_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questions_category.errors.count, "error") %> prohibited this questions_category from being saved:</h2>

      <ul>
      <% @questions_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class:"smallBtn"%>
  </div>
<% end %>
