<h1>Listing Orders</h1>

<table>
  <tr>
    <th>Order ID</th>
    <th>Client</th>

    <th>Date</th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>


        <td>
          <% if order.client.present? %>
              <%= order.client.first_name %> <%= order.client.last_name %>
          <% end %>
        </td>
        <td><%= order.created_at.strftime("%B %d %Y") %></td>



        <td><%= link_to 'Details', admins_order_path(order) %></td>
      </tr>
  <% end %>
</table>
