<h1>Order Details</h1>


<div class="details-info-holder">
  <label>Date</label>

  <div class="details-info">
    <%= @order.created_at.strftime("%B %d %Y") %>
  </div>
</div>


<div class="details-info-holder">
  <label>Charity</label>

  <div class="details-info">
    <%= @order.charity.name if @order.charity.present? %>
  </div>
</div>


<div class="details-info-holder">
  <label>Quantity</label>

  <div class="details-info">
    <%= @order.quantity %>
  </div>
</div>

<div class="details-info-holder">
  <label>Shirt Option</label>

  <div class="details-info">
    <% if @order.shirt_option.present? %>
        <%= @order.shirt_option.name %>
    <% else %>
        <%= @order.other_shirt_option %>
    <% end %>
    &nbsp;<%= @order.shirt_sub_option.name if @order.shirt_sub_option.present? %>
  </div>
</div>

<div class="details-info-holder">
  <label>Shirt Color</label>

  <div class="details-info">
    <% if @order.shirt_color.present? %>
        <div style="float:left;width:40px;height:18px;margin-right: 5px;<%= "background: ##{@order.shirt_color.code}" %>"></div>
    <% end %>
  </div>
</div>
<% if @order.shirt_color_name.present? %>
    <div class="details-info-holder">
      <label>Shirt Color Name</label>

      <div class="details-info">

        <%= @order.shirt_color_name %>
      </div>
    </div>
<% end %>

<h2>Shirt Sizes</h2>
<% if @order.order_size_values.present? %>
    <% @order.order_size_values.each do |order_value| %>
        <div class="details-info-holder">
          <label><%= order_value.size_category.name %>(<%= order_value.size_option.name %>)</label>

          <div class="details-info">
            <%= order_value.value %>
          </div>
        </div>
    <% end %>
<% end %>


<h2>Ink Color Options</h2>
<% @order.ink_color_options.each do |ink_color| %>
    <div class="details-info-holder">
      <label><%= ink_color.side %></label>

      <div class="details-info">
        <%= ink_color.name %>
      </div>
    </div>
<% end  if @order.ink_color_options.present? %>

<% if @order.order_files.present? %>
    <% @order.order_files.each do |file| %>
        <div class="details-info-holder">
          <label><%= file.side %> art work</label>
          <%= image_tag file.image.url(:thumb) %>
        </div>

    <% end %>
<% end %>
<div class="details-info-holder">
  <label>Design Instructions</label>

  <div class="details-info">
    <%= @order.instructions %>
  </div>
</div>

<h2>Client Details</h2>
<% if @order.client.present? %>
    <div class="details-info-holder">
      <label>First Name</label>

      <div class="details-info">
        <%= @order.client.first_name %>
      </div>
    </div>
    <div class="details-info-holder">
      <label>Last Name</label>

      <div class="details-info">
        <%= @order.client.last_name %>
      </div>
    </div>
    <div class="details-info-holder">
      <label>Email</label>

      <div class="details-info">
        <%= @order.client.email %>
      </div>
    </div>
    <div class="details-info-holder">
      <label>Postal Zip Code</label>

      <div class="details-info">
        <%= @order.client.zip %>
      </div>
    </div>
    <div class="details-info-holder">
      <label>Current Price per Shirt</label>

      <div class="details-info">
        <%= @order.client.price_per_shirt %>
      </div>
    </div>

    <div class="details-info-holder">
      <label>How did they hear about us?</label>

      <div class="details-info">
        <%= @order.client.reference.name unless @order.client.reference.blank? %>
      </div>
    </div>
    <div class="details-info-holder">
      <label>Deadline</label>

      <div class="details-info">
        <%= @order.deadline.strftime("%b %d, %Y") unless @order.deadline.blank? %>
      </div>
    </div>

<% end %>

<br/>
<%= link_to 'Destroy', admins_order_path(@order), method: :delete, data: {confirm: 'Are you sure?'} %>
