<%= form_for(@shirt_option, :url => url ) do |f| %>
    <% if @shirt_option.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shirt_option.errors.count, "error") %> prohibited this shirt option from being
            saved:</h2>

          <ul>
            <% @shirt_option.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "Save", :class => "smallBtn" %>
    </div>
<% end %>
