!!!
%html
  %head
    %meta{:content => "cVjwrkSJ7PDdnpz8XP9wmBMg365t6srzraCKRWLUJYs", :name => "google-site-verification"}/
    %meta{:content => "OneBillionShirts.org: Custom T-shirts That Make a Difference!", :name => "title"}/
    %meta{:content => "Onebillionshirts.org raises money and awareness for charities through leveraging the multi-billion dollar T-shirt industry.", :name => "description"}/
    %meta{:content => "Onebillionshirts.org, charity t-shirts, custom t-shirts, charity, t-shirt donations", :name => "keywords"}/
    / <title>OneBillionShirts</title>
    %title= yield :head
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/png"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / End SlidesJS Required
    %script{:src => "/assets/jquery.ennui.contentslider.js", :type => "text/javascript"}
    / SlidesJS Required: Link to jquery.slides.js
    %script{:src => "/assets/jquery.easing.1.3.js", :type => "text/javascript"}
    :javascript
      var switchTo5x = true;
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher: "76c7d2cf-e6a6-4026-a628-8611dbc0e2ae", doNotHash: true, doNotCopy: true, hashAddressBar: true});


        stLight.subscribe("click",fun1);
      //  stLight.subscribe("click", function () {
      //      alert("s");
      //  });
        function fun1(event, service) {

        }
  %body
    = render :partial => "/layouts/header"
    .featured-section_about
      = yield :about_head
    .nested_header
      .second_header
        %span
          %a{:href => "#", style:"color: #d0d0d0;font-size: 14px;"} Company Info
        %span
          %a{:href => "/about", class:"#{params[:action]=='about' ? 'current' : 'none' }"} Our Mission
        %span
          %a{:href => "/our_story", class:"#{params[:action]=='our_story' ? 'current' : 'none' }"} Our Story
        %span
          %a{:href => "/how_it_works", class:"#{params[:action]=='how_it_works' ? 'current' : 'none' }"} How It Works
        %span
          %a{:href => "/faq", class:"#{params[:action]=='faq' ? 'current' : 'none' }"} FAQ
        %span
          %a{:href => "/socialize", class:"#{params[:action]=='socialize' ? 'current' : 'none' }"} Socialize
        %span
          %a{:href => "/manifesto", class:"#{params[:action]=='manifesto' ? 'current' : 'none' }"} Manifesto
        %span
          %a{:href => "/contests", class:"#{params[:controller]=='contests' ? 'current' : 'none' }"} Contests
    .my_wrapper
      = yield
  = render :partial => "/layouts/footer"
  #request-quote.dropdown.clearfix{:style => "display: none;"}

:javascript
  function set_active(key) {
          $.get("/charities/get_charities?key=" + key, function (response) {
              $('#charities').html(response);
          });
          $(".active").each(function () {
              $(this).removeClass("active");
          });
          $('.charity-link-' + key).closest("li").addClass("active");
          return false;
      }
      $(document).ready(function () {
          $(".active").each(function () {
              $(this).removeClass("active");
          });
          // if cookies[:key].blank?
          //$('.charity-link-featured').closest("li").addClass("active");
          // else
         //$('.charity-link-#{cookies[:key]}').closest("li").addClass("active");

      });

:css
  .second_header {
    width: 980px
  }