<!DOCTYPE html>
<html>
<head>
  <title>OneBS: Administrator</title>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mainContainer"></div>
<div class="mainholder">
  <div class="center">
    <%= render :partial => "layouts/admin/header" %>
    <div id="flash">
      <%= render :partial => 'layouts/flash', :object => flash %>
    </div>
    <div class="center">
      <div style="margin-top:20px; float:left;">
        <div class="leftContainer">
          <%= render :partial => "layouts/admin/links" %>
        </div>
        <div class="rightContainer">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => "layouts/admin/footer" %>
  </div>
</div>
</body>
</html>