!!!
%html
  %head
    %meta{:content => "cVjwrkSJ7PDdnpz8XP9wmBMg365t6srzraCKRWLUJYs", :name => "google-site-verification"}/
    %meta{:content => "OneBillionShirts.org: Custom T-shirts That Make a Difference!", :name => "title"}/
    %meta{:content => "Onebillionshirts.org raises money and awareness for charities through leveraging the multi-billion dollar T-shirt industry.", :name => "description"}/
    %meta{:content => "Onebillionshirts.org, charity t-shirts, custom t-shirts, charity, t-shirt donations", :name => "keywords"}/
    / <title>OneBillionShirts</title>
    %title= yield :head
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/png"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / End SlidesJS Required
    %script{:src => "/assets/jquery.ennui.contentslider.js", :type => "text/javascript"}
    / SlidesJS Required: Link to jquery.slides.js
    %script{:src => "/assets/jquery.easing.1.3.js", :type => "text/javascript"}
    :javascript
      var switchTo5x = true;
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher: "76c7d2cf-e6a6-4026-a628-8611dbc0e2ae", doNotHash: true, doNotCopy: true, hashAddressBar: true});


        stLight.subscribe("click",fun1);
      //  stLight.subscribe("click", function () {
      //      alert("s");
      //  });
        function fun1(event, service) {

        }
  %body
    = render :partial => "/layouts/header"
    .featured-section_about{style:"height: 150px;background: url('/assets/CHARITY.png') no-repeat;    background-size: cover;"}
      =yield :about_head
    .nested_header{style:"height: 52px;background: #ececec;"}
      %div{style:"width:1000px;margin-left:auto; margin-right: auto;height: 52px;"}
        =link_to "Suggest a Charity", new_charity_path(format: :js), class:"c_style", remote:true
        = render :partial => "/charities/search_form"
        .rit_sort_heads
          %p Sort By
          = select_tag "", '<option>Name</option><option>Recently Added</option><option>City</option><option>State</option>'.html_safe , class:"sort_select"
          %a.sort-key#id-1{:href => "/charities/sort_charities?sort_key=name", style:"display:none"} Name
          %a.sort-key#id-2{:href => "/charities/sort_charities?sort_key=created_at", style:"display:none"} Recently Added
          %a.sort-key#id-3{:href => "/charities/sort_charities?sort_key=city", style:"display:none"} City
          %a.sort-key#id-4{:href => "/charities/sort_charities?sort_key=state", style:"display:none"} State

    .nested_header{style:"height: 50px;"}
      .second_header
        %span
          %a{:href => "#", style:"color: #d0d0d0;font-size: 14px;"} BROWSE CHARITIES
        %span
          %a#Featured_Charities.charity-link-featured.current{:href => "javascript:", :onclick => "set_active('featured');"} FEATURED CHARITIES
        %span
          %a#All_Charities.charity-link-all{:href => "javascript:", :onclick => "set_active('all');"} ALL CHARITIES
        %span
          %a#Causes.charity-link-causes{:href => "javascript:", :onclick => "set_active('causes');"} CAUSES
        %span
          %a#Joined_Recently.charity-link-recent{:href => "javascript:", :onclick => "set_active('recent');"} JOINED RECENTLY
        %span
          %a#Top_10.charity-link-top_ten{:href => "javascript:", :onclick => "set_active('top_ten');"} TOP 10


    .my_wrapper
      = yield
  = render :partial => "/layouts/footer"
  #request-quote.dropdown.clearfix{:style => "display: none;"}

:javascript
  function set_active(key) {
          $.get("/charities/get_charities?key=" + key, function (response) {
              $('#charities').html(response);
          });
          $(".current").each(function () {
              $(this).removeClass("current");
          });
          $('.charity-link-' + key).addClass("current");
          return false;
      }

      $(document).ready(function () {
          //$(".current").each(function () {
          //    $(this).removeClass("current");
          //});
          // if cookies[:key].blank?
          //$('.charity-link-featured').closest("li").addClass("active");
          // else
         //$('.charity-link-#{cookies[:key]}').addClass("current");

      });

      $(".sort-key").click(function () {
          $.get($(this).attr("href"), function (response) {
              $('#charities').html(response.html);
          });
          return false;
      });

      $(".sort_select").change(function(){
        console.log( $(this).val() );
        if( $(this).val() == "Name"){ $("#id-1").trigger("click");}
        if( $(this).val() == "Recently Added"){$("#id-2").trigger("click");}
        if( $(this).val() == "City"){$("#id-3").trigger("click");}
        if( $(this).val() == "State"){$("#id-4").trigger("click");}
      });

:css
  .second_header > span {
    margin-left: 22px;
    margin-right: 35px;
    width: auto;
    float: left;
  }